[2018-05-30 12:57] ilkka commented on #245
Won't start a long discussion here, but @tleunen the method I described works for us with immediate updates, so no waiting for a sync. The downside is that we end up essentially maintaining a content cache (a microservice that does a full sync on boot and then incremental updates), but it lets us do our own tricks with how we resolve content for our UIs while still being able to use contentful's t

[2018-06-11 01:12] AndrewEckart commented on #82
Just started using Contentful, immediately ran into this issue and wasted quite a while trying to understand why I could only resolve links with `getEntries` and not `getEntry`. Having to query for a single entry id rather than retrieving the desired entry directly is very unintuitive. Hopefully this is resolved soon.

[2018-06-12 22:59] mrjack88 commented on #235
@Mischazz how did you fixed that? The thing is I'am using

, not babel loader

[2018-06-13 07:21] zcei commented on #235
@mrjack88 `awesome-typescript-loader` has full support for Babel, so that should be the very same approach.

[2018-06-13 10:22] MarineLB commented on #214
What's the best way to work around this when using Sync API ?

[2018-06-13 10:28] MarineLB commented on #214
I am already using : `resolveLinks: false`, to resolve the links myself on Sync Update, won't `removeUnresolved: true` remove every link in the response ?

[2018-06-13 11:19] axe312ger commented on #214
Correct, it would do that.

[2018-06-13 11:33] axe312ger commented on #214
I am not exactly sure what you want to workaround.

If `resolveLinks ` is turned off, the SDK will return the API result untouched aka with Link entities to represent the relation between two entries.

If enable `removeUnresolved`, it will remove these Link Entities.

If you combine both, it will resolve everything that is resolveable and remove only links that link to draft entries or deleted ent

[2018-06-13 12:59] mrjack88 commented on #235
Thanks @zcei. This is what I've done, and it works:
webpack.config.js
[code]
This code will produce four .js files, that needs to be imported in your index.html file.

[2018-06-13 15:27] MarineLB commented on #214
Basically, we resolve the links ourself because the on Sync API update, we lose the link resolve.
Now, we get all of the entries, even though they are not published.
I'm only trying to know if there's a way to detech unpublished entries in the response.

[2018-06-14 08:55] axe312ger commented on #214
Here you can find the checks we do to detect the entry states like unpublished (draft) and so on:

https://github.com/contentful/contentful-management.js/blob/e5f80afd1382d5e9209b32d01ab1cbe1c4c0616b/lib/instance-actions.js#L76-L112

[2018-06-21 18:21] mike-rotate commented on #249
I don't think this is the right place - but if this could be fed back upstream to Contentful itself that would be great...

Please could someone introduce a warning within Contentful CMS when you have created a circular reference or pre-emptivley warn if you're about to create a circular reference - spent many hours on this issue then found this great tool which instantly highlighted the 2 way ref

[2018-07-06 13:29] centrical commented on #194
Stilll having this issue - using Contentful next.

Articles and posts. Article A has a reference to Post B. Post B has a reference to Article A.

[2018-07-10 09:57] OskarKaminski opened #254 "getContentTypeSnapshots returns 404"
## Expected Behavior

I should get snapshots of a specified content type.

## Actual Behavior

I get
[code]

## Steps to Reproduce

I try to get a snapshot of a content type that exist.
`let snapshots = await env.getContentTypeSnapshots('section');`

## Context

I must revert all changes my migrations scripts caused, if not all migrations succeeded.
`await env.getContentType('section')` returns
[c

[2018-07-11 08:40] OskarKaminski commented on #254
The issue occurs only on environments. We can get snapshots for master. But we need it to work on all environments.

[2018-07-11 09:59] axe312ger commented on #254
Hey Oskar,

unfortunately, for the time being, Snapshots are not supported on Environments. Here is the related documentation:

https://www.contentful.com/developers/docs/references/content-management-api/#/reference/environments/environment-collection

Best,
Benedikt

[2018-07-11 10:03] OskarKaminski commented on #254
When do you think you could add the support for them?
We would like to utilize snapshots to handle rollback migrations and reverting changes from the environment if any migration failed at any point.
We are using environments for development and lack of snapshots support for them block us from utilizing it, even though I personally think it's a great feature.

[2018-07-11 10:07] axe312ger commented on #254
Hey Oskar,

sorry, I can't tell you if and when this is implemented.

You may reach out to our support, tell them about your situation and why it is blocking you. They can add this as feature request and properly hand it over to the right people. That way you can be sure that the responsible people are aware of your situation/problem. --> https://www.contentful.com/support/

Sorry, thats all I can

[2018-07-11 10:19] szimek opened #255 "Strange issue with webpack, babel-preset-es2015 and jest"
This is more of a question than an issue. I've got an old app that uses `contentful.js` 3.x, `webpack` 3.x and `babel-preset-es2015` and  I have the following config for Babel:
[code]
I updated `contentful.js` to 6.x and now when I run the app, this works `import { createClient } from 'contentful'`, but when I run tests it doesn't. If I change it to `import contentful from 'contentful'` tests work

[2018-07-11 11:30] axe312ger commented on #255
Could be an issue related to that the import transpilatio syntax changed from babel 5 to babel 6.

Back then I fixed it with https://github.com/59naga/babel-plugin-add-module-exports, maybe that helps here, too?

Good luck,
Benedikt

[2018-07-12 23:48] m-bodmer commented on #249
I am having the same issue.

I tried to debug the content model I have, which exists 94 entries. These can be condensed to something like:

**Content Model Name:** Note
**Fields:**
- Note number (1-1000+)
- Related Note (References, many)

. If I have a set of notes such as:

**Note 1:**
- Note number: 1
- Related Notes: [2, 3]

**Note 2:**
- Note number: 2
- Related Notes: [1, 3]

**Note 3:**
- N

[2018-07-13 11:13] axe312ger commented on #249
We will discuss this next week and try to come up with solutions.

If you use `include: 2`, you just ensure that the API response does [only include entries 2 level deep in the relation/link chain](https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/links/retrieval-of-linked-items). It does not affect the JS SDKs link resolution itself.

`json-stringify-safe` was

[2018-07-13 13:52] joemarkevicius commented on #249
@axe312ger I use contentful 5.1.3. My use case is this: I have 'article' as content type. It uses 'reference' field, so that content editor is able to add related articles to it. Response from the CMS returns the whole article within 'reference', meaning that this related article has its own 'reference' that has its own articles, etc. One idea that comes to mind is shallow reference. For example:

[2018-07-13 15:23] axe312ger commented on #249
You can do this:
* set `resolveLinks: false` in the client to get these `shallow reference` you want
* You can find all articles in the `response.includes.Entries` array, no need to fetch them on your own.
`include: X` defines how deep our system will look for linked entries and all of them will be in there for manual link/reference resolution.

But I still wonder what your actual problem is, yes,

[2018-07-13 16:52] joemarkevicius commented on #249
@axe312ger thanks for that. I assume you're referencing `resolveLinks` mentioned here: https://www.contentful.com/developers/docs/javascript/tutorials/using-js-cda-sdk/ and _Links_ docs here: https://www.contentful.com/developers/docs/concepts/links/.

The problem is as you describe: I added 'related articles' (reference field), just so that I could add related article links, but that's when I ran

[2018-07-13 23:20] m-bodmer commented on #249
The `include` parameter does not help too much in solving the issue I am having. It still results in too large of a data set (60MB JSON file down from 150MB) when I have 95 entries of a certain content model.

I stringify the JSON coming from Contentful because I write the JSON to a file.

I am using Contentful `^6.1.1`

[2018-07-16 08:08] axe312ger commented on #249
I am referencing `resolveLinks` from the README of this library (https://github.com/contentful/contentful.js#configuration)

Sorry, I still struggle to see how this is an issue of the SDK, as it is the data structure which is not able to be stored as JSON (if it is in a resolved state/format).

Additionally, I wonder how this can be an issue in creating an app which displays the data, even with ci

[2018-07-19 15:04] sarneeh commented on #82
Yup. Ran into this issue too. Hope this will be implemented 😄

[2018-07-22 18:19] mgeorgehansen commented on #143
I just submitted a PR (#258) with a potential testing solution using [ts-runtime](https://github.com/fabiandev/ts-runtime). If there's interest in developing this into a production-ready state please let me know and I'd be happy to collaborate on it!

[2018-07-24 08:19] axe312ger commented on #82
We will implement it soon :) Stay tuned 🙈

[2018-07-25 09:41] ricardograca opened #259 "Some page links are broken"
## Expected Behavior

Clicking on the "Advanced Concepts" file link in the [documentation's home page](http://contentful.github.io/contentful.js/contentful/6.1.2/) should open the relevant page.

## Actual Behavior

It returns a 404 error.

## Steps to Reproduce

1. Go to the docs Home page: http://contentful.github.io/contentful.js/contentful/6.1.2/
2. Scroll down to the "Advanced Concepts" secti

[2018-07-26 17:47] ravikiran438 opened #260 "Remove browser field from package.json"
The use of the browser field in package.json is superfluous as it just points to a bundled file of all the modules and results in the inclusion of contentful.browser.js in the final webpack bundle thereby defeating the purpose of using es6 modules for tree shaking. The purpose of the browser field is to provide code that is specific to a browser (for example it uses polyfills or shims), but that i

[2018-07-27 09:11] axe312ger commented on #260
Which might break Angular 6 again :/

We need to think this through first and then come up with a solution asap. Thanks for the report @ravikiran438

[2018-07-31 18:32] ravikiran438 commented on #260
@axe312ger ,

As mentioned in https://github.com/angular/angular-cli/issues/10681#issuecomment-396848967

adding

  "browser": {
    "os": false
  },

in contentful-sdk-core or using

https://github.com/CoderPuppy/os-browserify

both seem to work fine with angular 6 builds

I can send out a PR if you would like to add any of those workarounds.

Thanks!

[2018-08-01 11:05] Khaledgarbaya commented on #260
Hey @ravikiran438,
Please feel free to send a PR
Best,
Khaled

[2018-08-01 15:15] ravikiran438 commented on #260
@Khaledgarbaya Please check the following PR https://github.com/contentful/contentful-sdk-core/pull/62

[2018-08-08 08:03] sarneeh commented on #82
Woohoo! Thank you! 🎉

[2018-08-08 08:14] phoebeschmidt commented on #82
@sarneeh just a heads up that this is a breaking change and due to some small hiccups it's not quite released yet. But it will be soon, stay tuned!

[2018-08-08 08:16] sarneeh commented on #82
@phoebeschmidt Sure, no problem. Just wanted to share my gratitude that this thing is getting fixed 😄

[2018-08-08 09:18] phoebeschmidt commented on #82
This is included in the 7.0.0 release 🎉

[2018-08-09 11:52] sithuhlaing opened #264 "NPM install contentful but show error 404 Not Found: @contentful/axios@^0.18.0"
I clean up with npm cache. I install again still error.

[2018-08-09 13:07] axe312ger commented on #264
A `npm i @contentful/axios@^0.18.0` works fine for me, also is working for a lot of other peoples.

The issue must be your npm cache, proxy or connection 😅

[2018-08-14 13:36] PLaRoche commented on #264
I'm having the same issue, any suggestions?

[2018-08-14 15:54] axe312ger commented on #264
Alright, let us dig deeper :)

Can you please provide the following information:

* Your node version
* Your npm version
* Your operating system
* Are you behind a proxy in your network?
* Did you modify your npm registry? (If you don't know what this is, probably not)
* Your install command plus the complete output.

Thanks 🙇

[2018-08-14 17:51] PLaRoche commented on #264
Sovled, and will share it was non obvious but easy
- remove node modules folder
- remove package-lock.json

Then do npm install/ etc from scratch.  Fixed for me at least

[2018-08-15 11:47] Khaledgarbaya commented on #264
Glad it worked

[2018-08-15 11:47] #264 closed

[2018-08-15 19:27] markmssd commented on #82
Thanks @phoebeschmidt ! Heads-up: It seems like https://github.com/contentful/contentful.js/blob/master/ADVANCED.md#link-resolution isn't updated yet.

[2018-08-16 08:29] Khaledgarbaya commented on #82
We removed the outdated section

[2018-08-16 08:29] #82 closed

[2018-08-20 16:35] rafaelrinaldi commented on #82
Thanks for adding this in.

[2018-08-23 07:54] japier opened #268 "getEntry returns an [object Object] on 404 instead of the custom object"
Hi guys
We love the easy use of contentful 💛
But we find a problem when we try to catch the specific error when an entry does not exists and we realize that the sdk is sending us an [object Object] as a message in the error.

Doing findings over your library (sorry for that) we found that in the line 69 of the file
[code]
you guys are sending a custom object
[code]
But in the error API of NodeJS s

[2018-08-23 08:43] axe312ger commented on #268
@phoebeschmidt @Khaledgarbaya Hmm, I guess we have to `JSON.stringify()` the object to stay aligned how other error messages are handled at the moment.

(Even though we are about to change that soon or later for better developer experience)

WDYT?

[2018-08-23 09:53] japier commented on #268
So, for now, should we fork the library? or what could we do?

[2018-08-23 09:54] Khaledgarbaya commented on #268
Hey @japier,
We'll work on a fix soon today, also pull requests are welcome

Best,
Khaled

[2018-08-23 11:35] Khaledgarbaya commented on #268
This is being fixed in https://github.com/contentful/contentful.js/pull/269

[2018-08-23 11:35] #268 closed

[2018-08-24 02:30] japier commented on #268
Thanks 💃

[2018-08-31 09:14] TomiTakussaari opened #272 "Maximum call stack size errors when using httpAgent"
## Expected Behavior

Contentful.js is fast and does not error when fetching data from Contentful.

## Actual Behavior

We have node.js app, that loads data from Contentful. We were wondering why its quite slow, and while investigating, found out that contentful.js by default does not seem to use http keep-alive when connecting to CDA, meaning that new connection was opened for every time we asked

[2018-08-31 19:41] bayssmekanique opened #273 "Why include custom axios?"
## Expected Behavior

Contentful SDK should use the main `axios` repo.

## Actual Behavior

Contentful is using an older forked version of `axios` with a few tweeks for `https` over `http` proxy.  This is causing anyone using `axios` anywhere else on their site to either use the older `@contentful/axios` fork or ship their customers an extra `~30kB` of almost identical code because of 6 lines of c

[2018-09-01 11:01] axe312ger commented on #273
We are aware of this but we had to use our custom version since a required proxy patch was not merged/released to Axios for 12 months or more.

We are currently testing latest Axios beta which now contains our PR with the proxy patch.

--> https://github.com/contentful/contentful-management.js/pull/187

[2018-09-04 08:51] axe312ger commented on #273
I just released `7.1.0-beta0` which contains the latest community Axios beta. Install via `npm i contentful@next`

Can you please give feedback if it solves your issue and works fine with your project?

Thanks a lot,
Benedikt

[2018-09-04 08:51] axe312ger commented on #272
I just released `7.1.0-beta0` which contains the latest community Axios beta. Install via `npm i contentful@next`

Can you please give feedback if it solves your issue and works fine with your project?

Thanks a lot,
Benedikt

[2018-09-04 11:41] TomiTakussaari commented on #272
Hi @axe312ger!

Our initial tests do indicate that this solves our issue.
Thanks!

[2018-09-04 15:02] bayssmekanique commented on #273
@axe312ger, this resolves the issue for me and works well.  Many thanks!

[2018-09-04 16:36] #273 closed

[2018-09-05 09:41] KenilDomadia opened #275 "Skip "fields" and "sys" in Content Delivery API response when "include" parameter value is more than 1"
It is more like a question than an issue.

I tried to search through the documentation of Content Delivery API and I found no way to skip "fields" key and always get "raw" JSON instead.

I am using "Reference" field type at multiple levels and pass "include" parameter(link resolution) while querying using Content Delivery API. Is there any way to skip "fields" and "sys" keys in JSON response? I ju

[2018-09-05 10:42] Khaledgarbaya commented on #275
Hey @KenilDomadia,
Yeah, that should be possible using the [select operator](https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters/select-operator).

Here is an [example](https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters/select-operator/query-entries/console/js) of how to use it in the SDK.

O

[2018-09-05 11:31] KenilDomadia commented on #275
Hey @Khaledgarbaya,

Thanks for the response. I tried using the select parameter but it still has one more problem when the response contains reference field.

For example, Taking reference from the response JSON as you mentioned in above example. Please have a look at below response JSON for query with `select` parameter.
`{
  "sys": {
    "type": "Array"
  },
  "total": 1,
  "skip": 0,
  "limit"

[2018-09-05 11:39] KenilDomadia commented on #275
Sorry for multiple edits in the above comment. Please have a look at it now!

[2018-09-05 13:12] Khaledgarbaya commented on #275
I think you can achieve this if you disable the link resolution on the SDK.
[code]

[2018-09-05 14:28] KenilDomadia commented on #275
@Khaledgarbaya I tried using `{resolveLinks: false}`. It just disables the link resolution part. I do want to resolve links, at the same time recieving the raw JSON format in response.

[2018-09-05 14:44] Khaledgarbaya commented on #275
Hey @KenilDomadia, Unfortunately, that is not possible with the SDK

[2018-09-06 10:36] TomiTakussaari commented on #272
No problems so far, so lets close this.

Thanks!

[2018-09-06 10:36] #272 closed

[2018-09-08 20:34] kyriediculous opened #276 "Querying entries with search parameters is broken ?"
This worked perfectly and now it doesn't anymore. All categories return 0 items, this used to work until a couple of weeks ago

categories is an array of categories.

[code]

I would do it by getting a category and 'includes' but it doesn't include further than one level regardless, as it is also broken according to the issues here (images not included then). I could of course search the included

[2018-09-10 09:16] axe312ger commented on #276
I have trouble understanding what you try to achieve.

A simple list of blog posts with their images and categories? If yes, your first query is alright in case the field names and content types match you content model.

Also, did you try to set `'include': 2`?

Best,
Benedikt

[2018-09-10 17:20] TomiTakussaari opened #277 "Retry is broken"
## Expected Behavior
By default, this SDK is retrying requests which resulted in a 500 server error and 429 rate limit response.

## Actual Behavior

Contentful.js does not seem to retry errors:
[code]

Fails with:

[code]
## Possible Solution

I'm not that familiar with Axios or contentful.js, but it looks like [Axios ignores keys it does not know](https://github.com/axios/axios/blob/master/lib/c

[2018-09-10 17:27] TomiTakussaari commented on #277
Related Axios issue: https://github.com/axios/axios/issues/1718

[2018-09-14 12:02] Khaledgarbaya commented on #277
Hi @TomiTakussaari,
We made sure to test all the cases in [here](https://github.com/contentful/contentful-sdk-core/blob/master/test/unit/rate-limit-test.js). The reason that the SDK does not retry because it's an unknown status.
We rely on that to trigger the retry. Here is the code for [that](https://github.com/contentful/contentful-sdk-core/blob/master/lib/rate-limit.js#L35)
Best,
Khaled

[2018-09-14 12:58] TomiTakussaari commented on #277
@Khaledgarbaya Contentful-sdk [seems to be still using Axios 0.18,](https://github.com/contentful/contentful-sdk-core/blob/master/package.json#L50) which does not have this problem.

Problem is with Axios 0.19 beta (and above), as documented in https://github.com/axios/axios/issues/1718.

This version is used in Contentful.js 7.1.0-beta0, that we have to use because of other problems with earlier,

[2018-09-14 13:09] Khaledgarbaya commented on #277
Hey @TomiTakussaari contentful.js is using axios 0.18 also https://github.com/contentful/contentful.js/blob/master/package.json#L61.

Also, you are replying with an error without a status, which means that the response exist so it is not a connection error for the ratelimit [logic](https://github.com/contentful/contentful-sdk-core/blob/master/lib/rate-limit.js#L20)

Best,
Khaled

[2018-09-14 13:16] TomiTakussaari commented on #277
This version of contentful.js is not using axios 0.18: https://github.com/contentful/contentful.js/releases/tag/v7.1.0-beta0 & https://github.com/contentful/contentful.js/blob/c1b728631779c7ae37e8998f49c9e2a9978984b3/package.json#L61

I understand its a beta version, but I guess bugs in it should still be reported here ?
If not, we can of course also create customer support ticket if that is the p

[2018-09-14 13:48] Khaledgarbaya commented on #277
Hey @TomiTakussaari,
We'll check this asap.

[2018-09-16 15:13] Mohsin05 opened #278 "Griddle does not accept <sup> tag or any other tag to display subscript in data value"
I am having an issue that I am using the griddle.js and handsontable in my react application and I have to display a value with sup tag. But the output is the plane text with `**something<sup>somthing</sup>**`  but instead it should show like [sup tag]
(https://www.w3schools.com/TAGS/tryit.asp?filename=tryhtml_sup)

I mean the html tags are considered as plane text. Griddle only accept the string

[2018-09-17 07:52] Khaledgarbaya commented on #278
Hey @Mohsin05,
Looks like this issue has nothing to do with `contentful.js`package.
Maybe you can create an issue on the [`griddle.js`](https://github.com/griddlegriddle/griddle) GitHub repo?

Best,
Khaled

[2018-09-18 08:56] Khaledgarbaya commented on #277
Hey @TomiTakussaari,
I think I found the affected [line](https://github.com/contentful/contentful-sdk-core/blob/master/lib/rate-limit.js#L12) which breaks the retry logic.
I will try to fix it asap.

Best,
Khaled

[2018-09-20 12:40] Xaz16 opened #279 "Fields exclusion from entry"
Hi guys

Do we have any way to exclude some fields from entry without creating and splitting to new references?
I found this way, but as I understand it's only for fields content and it exclude whole entry:
https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters/exclusion
And as well we have this query:
https://www.contentful.com/developers/docs/ref

[2018-09-21 08:34] Xaz16 commented on #279
@Khaledgarbaya
Sure, thank you. But I want exclude some fields rather than select.
I have situation like this. I have big Content Model with a lots of fields, but not all I need to retrieve in request... And it is more simply exclude list of them rather than select each one.

[2018-09-21 08:47] Khaledgarbaya commented on #279
Hey @Xaz16,
That's not possible unfortunately

[2018-09-21 08:55] Xaz16 commented on #279
@Khaledgarbaya
Thank you anyway. I will try to find another solution.

[2018-09-21 08:57] #279 closed

[2018-09-25 16:53] hugobast opened #280 "Sync API Entries Not of Type Entry"
## Expected Behavior

[code]
I am using the 7.1.0-beta0 SDK according to your docs:

- `response` ([link](https://contentful.github.io/contentful.js/contentful/7.1.0-beta0/ContentfulClientAPI.html#.sync)) should a `SyncCollection`
- `response.entries` ([link](https://contentful.github.io/contentful.js/contentful/7.1.0-beta0/Sync.html#.SyncCollection) should be an `Array.<Entities.Entry>`
- `entry`

[2018-09-27 15:32] #280 closed

[2018-09-27 15:32] hugobast commented on #280
@phoebeschmidt amazing thank you so much!

[2018-09-27 15:45] phoebeschmidt commented on #275
I'm closing due to inactivity. Feel free to open another issue if you run into more problems.

[2018-09-27 15:45] #275 closed

[2018-09-27 15:48] phoebeschmidt commented on #280
Not sure why Semantic Release didn't add a comment here BUT:
This fix is released as part of v7.0.4 🎉

[2018-09-27 15:55] phoebeschmidt commented on #254
I'm closing due to inactivity. Feel free to open another issue if you have more problems.

[2018-09-27 15:55] #254 closed

[2018-09-27 15:56] phoebeschmidt commented on #255
I'm closing due to inactivity. Feel free to open another issue if you continue to have problems.

[2018-09-27 15:56] #255 closed

[2018-09-27 15:57] phoebeschmidt commented on #278
I'm closing this issue due to inactivity. Feel free to open another if you continue to have problems.

[2018-09-27 15:57] #278 closed

[2018-09-27 15:58] phoebeschmidt commented on #276
I'm closing due to inactivity. Feel free to open another issue if you continue to have problems.

[2018-09-27 15:58] #276 closed

[2018-09-27 16:13] phoebeschmidt commented on #249
Closing due to inactivity. Feel free to open another issue if something comes up.

[2018-09-27 16:13] #249 closed

[2018-10-03 18:55] colin-johnson opened #282 "TypeError: instance.defaults.logHandler is not a function"
## Context
We have a project built on Next.js, React.js and Contentful.

We gather all our Contentful data before page build so data is ready. During Contentful requests, we hit rate limits, which is expected, but the API is supposed to wait until it's ready and continue fetching data when it is.

However, instead of logging the warning and waiting as it is supposed to. We consistently get this er

[2018-10-04 03:12] sdelvalle57 commented on #211
I did
`sudo npm cache clean -f`

For me that did the trick

[2018-10-04 08:05] Khaledgarbaya commented on #282
Hi @colin-johnson,

Can you provide a small snippet on how you are creating the client?
Are you overriding the `logHandler`in the client options?

[2018-10-04 16:15] colin-johnson commented on #282
@Khaledgarbaya Thanks for your response. We actually were, and I was unaware of it. Thank you for your response which led us to the solution. Appreciate it!

[2018-10-04 16:15] #282 closed

[2018-10-06 16:33] matteobortolazzo opened #283 "Type error in StencilJS application."
## Expected Behavior

It should work.

## Actual Behavior

Gives an error at startup:
Failed to resolve module specifier "supports-color". Relative references must start with either "/", "./", or "../".

## Steps to Reproduce

1. npm init stencil ionic-pwa <project-name>
2. npm i --save contentful
3. client = createClient({
      space: this.SPACE_ID,
      accessToken: this.ACCESS_TOKEN
    });
4

[2018-10-06 17:00] matteobortolazzo commented on #283
It seems to be an Axios issue so I close this.

[2018-10-06 17:00] #283 closed

[2018-10-09 07:09] TomiTakussaari commented on #277
Any news @Khaledgarbaya ?

[2018-10-13 14:07] helloroman commented on #259
Hey i would love to tackle this one – let me know if you still need help with it.

[2018-10-15 09:00] Khaledgarbaya commented on #259
Hey @ricardograca and @helloroman this is because the link is relative to github. To solve this we can have maybe full URL or we include the `Advanced.md` in the [jsdoc](https://github.com/contentful/contentful.js/blob/master/jsdoc.json#L8) files as we do with the README.

[2018-10-17 17:30] gmarraro-ellevest opened #284 "Linked blocks within field are coming in out of order in API call"
How do I fetch the content of a field in exactly the order I added them in Contentful, without using the `order` param?

I have a field in my Content Model called "Content Blocks". Each time I use this model, I add multiple blocks within it that link to other content (an article) also hosted in my space.

So, ContentBlocks is essentially an object that contains other objects: contentBlock1, conten

[2018-10-24 07:35] #259 closed

[2018-11-08 15:57] nataliawww opened #287 "Preview API with createClient"
Wondering if there is a way to configure `defaultHostname` from cdn.contentful.com to preview.contentful.com and be able to test the preview API key as the `accessToken`?

[2018-11-12 09:57] Khaledgarbaya commented on #287
you can change the host as mentioned [here](https://github.com/contentful/contentful.js#using-this-sdk-with-the-preview-api)

[code]

[2018-11-15 04:33] NoahHahm opened #288 "sync resolveLinks options bug"
## Expected Behavior

For sync, the resolveLinks option applies only on the first (initial = true) call,
Afterwards (initial = false), resolveLinks does not apply for sync.

## Actual Behavior

initial = flase,
resolveLinks = true
In the option, the entry and asset data comes in the form of a link.

## Possible Solution

resolveLinks should work fine even in the initial = false state.

## Steps to

[2018-11-19 08:37] glorment opened #289 "Cannot Render the content by using Angular7 SSR"
After using Angular7 SSR , I click the browser and View the page source . Cannot show the value get from the contentful .

## Expected Behavior
Click the view page source at the browser. It should show all the value that receive from contentful

## Actual Behavior
All the value from contentful at the **page source** is empty

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context

##

[2018-11-19 18:58] ba4z opened #290 "Javascript SDK crashing in electron window"
## Expected Behavior
To connect to Contentful using the SDK and perform a query.

## Actual Behavior
As soon as the client is instantiated like this:
[code]

It results in the following error (from the minified code):
[code]
Which boils down to this line:
```var t = Object(Ab.platform)() || "linux"```

## Possible Solution
I've worked around this issue by going straight to the api instead of using

[2018-11-27 09:51] Khaledgarbaya commented on #288
Hi @NoahHahm,
the link resolution is only possible on initial sync because in subsequent syncs there is not enough data to do the link resolution.

[2018-11-27 09:51] #288 closed

[2018-12-03 11:25] openbook opened #292 "info request - more info on proximity search"
Hi - I'm using the proximity / near search to create a paginated list of items ordered by their distance from a user entered search point.

As far as I can tell, there is no way of retrieving the distance from the search point in the results returned by the API, so I'm using my own custom (although rather generic) haversine function to calculate this.  The problem with this is that my function doe

[2018-12-04 08:21] Khaledgarbaya commented on #292
Hey @openbook,
Unfortunately not, the results will be sorted by the distance but the distance won't be there.

[2018-12-04 08:21] #292 closed

[2018-12-04 08:50] openbook commented on #292
Ok.  In that case, would you be able to offer any advice with the second request -  can give details on the calculation you are using to sort by distance?

[2018-12-07 04:30] patrickhousley commented on #289
Maintainers, can you please expose the Axios adapter config option? This will allow Angular developers to write a custom adapter for Axios based on Angular's HttpClient. This will allow us to use SSR with contentful in the Angular platform. At some point, a nice developer might even publish an axios angular adapter :).

Example using just plain Axios that worked is below. Should be fine for conten

[2018-12-10 20:29] patrickhousley commented on #289
The basic adapter is available at https://www.npmjs.com/package/@ngx-axios-adapter/core

[2018-12-12 11:17] SigurdMW opened #294 "method getEntries does not exist (typescript)"
## Expected Behavior
The method [parseEntries](https://contentful.github.io/contentful.js/contentful/7.0.5/ContentfulClientAPI.html#.parseEntries) should exist on the client object.

## Actual Behavior
Typescript error when using the method. "parseEntries" does not exist in declarations file.
![image](https://user-images.githubusercontent.com/6359003/49866155-3dcef680-fe07-11e8-83e1-b18ff6e2e419.p

[2018-12-12 11:30] SigurdMW opened #293 "types for method getEntries does not exist (typescript)"
## Expected Behavior
The method [parseEntries](https://contentful.github.io/contentful.js/contentful/7.0.5/ContentfulClientAPI.html#.parseEntries) should exist on the client object.

## Actual Behavior
Typescript error when using the method. "parseEntries" does not exist in declarations file.
![image](https://user-images.githubusercontent.com/6359003/49866155-3dcef680-fe07-11e8-83e1-b18ff6e2e419.p

[2018-12-12 16:27] #294 closed, assigned to nobody

[2018-12-12 17:39] Khaledgarbaya commented on #293
It's indeed missing from https://github.com/contentful/contentful.js/blob/master/index.d.ts

would you be interested in making a PR to fix that?

[2018-12-13 16:21] ruanodendaal opened #295 "getEntries fails with limit above 278"
## Expected Behavior

Calling
[code]

Should return up to 1000 posts in reverse order by review date.

## Actual Behavior

Passing any limit above 278 returns `Request failed with status code 400`.
Your documentation states that the limit is 1000, so no idea why this doesn't work anymore.

## Context

We have ~350 posts (and growing) that we're trying to fetch however can't. This implementation ha

[2018-12-14 10:01] Khaledgarbaya commented on #295
Hey @ruanodendaal,
What was the error message?

[2018-12-14 11:22] ruanodendaal commented on #295
`Error: Request failed with status code 400`

[2018-12-14 11:56] ruanodendaal commented on #295
I sent an email to support and in their response, they mentioned the maximum response size is 8mb so I might be hitting that.

So will paginate through the results.

[2018-12-14 12:05] #295 closed

[2018-12-19 07:02] erik-wendt opened #296 "Link Resolution doesn't work if select contains sys.id"
## Expected Behavior

I'm using the JavaScript SDK and try to "select" only some fields from the content entries and the ID of it, e.g. "select: 'sys.id,fields.route,fields.pages".

The "field.pages" are links to other content entries and with param "include: 3" I expect to get the result with link resolution enabled.

## Actual Behavior

If I'm Using "sys.id" in the "select" param the link resolu

[2018-12-19 07:08] erik-wendt commented on #296
BTW: it worked before SDK Version 5.1.0. If I'm using 5.0.5 I get the expected result.

[2018-12-29 00:27] uap-dev opened #297 "Circular references when include >= 2"
## Expected Behavior

in SSR, should be able to stringify contentful response objects without circular references error. Original issue [here](https://github.com/contentful/contentful.js/issues/249).

## Actual Behavior

In my current data model an Article can contain references to other relatedArticles. When using SSR (nextjs) I get an error regarding circular references. Currently my resolveDept

[2019-01-05 01:34] GunnarHolwerda commented on #290
I get this error as well in my Angular 7 application.

[2019-01-07 10:30] #290 closed

[2019-01-07 17:02] bsansone commented on #131
Hi, I am experiencing this problem as well. Here is my environment:

- **Node Version:** 8.6.0
- **Npm Version:** 5.3.0
- **Platform:** MacOS
- **Package Version(s):**
    - **contentful:** 7.0.0
    - **axios:** 0.17.1
    - **webpack:** 3.8.1
    - **webpack-dev-server:** 2.11.1
    - **react:** 16.4.2
    - **react-native:** 0.54.4

My scenario may be a little different. I have a _shared_ conte

[2019-01-07 21:55] fhackenb commented on #243
I got this issue for a different library, but solved it by running `npm install --save os`

[2019-01-18 11:10] drewxiuxiuxiu opened #302 "Use customized axios instance"
Just a question,
Can I use my own axios instance while creating contentful client?

[2019-01-21 10:12] Khaledgarbaya commented on #302
Hey @drewxiuxiuxiu,
Unfortunately not, but recently we added the possibility to pass your own adapter to the sdk.
This is an [example](https://github.com/contentful/contentful.js/blob/master/ADVANCED.md#angular-universal). Let me know if this can help.

Cheers,
Khaled

[2019-01-25 21:18] sebbean commented on #277
havin timeout errors up the wazoo - is this related possibly?

[code]

[2019-01-28 08:32] #277 closed

[2019-02-07 17:15] chopin2712 opened #307 "Cannot use sudo npm install or sudo npm update"
## Expected Behavior
Want to test if NPM works but it don't.

## Actual Behavior
I have a problem, I started this command : sudo npm update and there is the output :

[code]

## Possible Solution
I have  no ideas of what I should do...

## Steps to Reproduce

1. git clone https://github.com/telescopejs/telescope.git
2. cd telescope
3. sudo npm install
4. sudo npm update

The error occurs with the

[2019-02-08 10:12] Xaz16 opened #308 "Crashing from angular service worker through safari"
Hi all,

I have a really strange problem with your SDK and maybe with contentful server at all in Safari Browser.

## Expected Behavior

I will receive response without any errors from contentful server.

## Actual Behavior

What I have now: http://prntscr.com/mi8wvw
As you can see every second request failed by CORS..?

## Possible Solution

I think it is not problem with angular service worker i

[2019-02-08 15:00] Khaledgarbaya commented on #308
Hi @Xaz16,
This sounds like a weird thing in Safari.
can you try making a raw http request and not use the SDK? and tel me what's the result

[2019-02-08 15:03] Khaledgarbaya commented on #307
Hey @chopin2712,
Did you mean to create this issue on the telescope repo?
I don't think it's related to contentful.

[2019-02-08 15:11] Xaz16 commented on #308
@Khaledgarbaya
Yes it is. Take a look at screenshot.
http://prntscr.com/mifb6a
Requests made by Service Worker and always failed
http://prntscr.com/mifc6c

Request code that I used

[code]

For some reasons it happens only with contentful.
With another requests through console it behaves normally.

[2019-02-08 19:52] chopin2712 commented on #307
Yes but why `sudo npm update`  don't work, it is not related to Telescope...

[2019-02-11 08:53] Khaledgarbaya commented on #307
it's an npm issue not related to contentful package

[2019-02-11 11:58] #307 closed

[2019-03-07 18:54] patrickblackjr opened #311 "getEntries is not a function"
I'm using Nuxt to create a blog and I'm using the code from https://github.com/contentful/blog-in-5-minutes/blob/master/pages/blog/_slug.vue.

I'm using this to get posts:
[code]

There error message I'm getting is `_plugins_contentful__WEBPACK_IMPORTED_MODULE_0___default.a.getEntries is not a function`.

## Environment

-   **Language Version**: v10.15.1
-   **Package Manager Version**: yarn v.1.

[2019-03-07 20:53] #311 closed

[2019-03-07 20:54] patrickblackjr commented on #311
For anyone in the future who has this issue you need to execute createClient()

[2019-03-07 23:52] patrickblackjr opened #312 "createClient requires API key nuxt issue"
https://codesandbox.io/s/github/emeraldcoasthub/gulfcoastimmediatecare.com

I'm trying to get the blog function to generate correctly.

I have this in my nuxt.config.js and it's giving me this error when I try and generate: `TypeError: Expected parameter accessToken`. Any ideas as to why?

[code]

[2019-03-07 23:53] patrickblackjr commented on #312
Why is it complaining that `.getEntries` requires an access token when I have provided one?

[2019-03-15 20:04] sherikwong opened #315 "Change to ContentTypeLink model"
## Expected Behavior

ContentTypeLink's properties to have correct interfaces as types.

## Actual Behavior

They are currently strings of what the type should be.

## Possible Solution

export interface ContentTypeLink {
    type: Link;
    linkType: ContentType;
    id: string;
}

Remove quotations for types of type and linkType.

## Context

Just a suggestion. I'm currently grabbing an entry fr

[2019-03-15 20:09] #315 closed

[2019-03-16 12:39] Kinark opened #316 "getEntry specify locale"
It's a simple issue. Idk if this is a feature request, but you can't specify the locale when executing `contentfulClient.getEntry('entry_id')`.

I' ve tried something like this: `contentfulClient.getEntry({ entry_id: match.params.id, locale: context.locale })` but no success.

What can I do to fetch an entry in another locale?

[2019-03-19 10:34] phoebeschmidt commented on #316
Hi @Kinark, sorry this isn't better documented.

You send the locale as part of the query object, like this:
`client.getEntry('m8lVPmkODym9g4lRCSs3f', {locale: 'en-AU'}).then(console.log)`

Every method takes a query object. Usually it's the first and only arg for the collection methods, or the second arg for the non-collection methods. This information is all available in the sdk documentation: h

[2019-03-19 10:34] #316 closed

[2019-03-19 10:43] phoebeschmidt commented on #312
Hi @patrickblackjr, are you sure you are setting your environment variables correctly? The env variables should be set in `nuxt.config.js`.

Perhaps this blog post would be helpful: https://www.contentful.com/developers/docs/javascript/tutorials/integrate-contentful-with-vue-and-nuxt/

[2019-03-19 10:43] #312 closed

[2019-03-22 11:53] Kinark commented on #316
It shouldIt should be documented in here, shouldn't it?
https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/entries/entry/get-a-single-entry/console/js

In the code example it should be like:
[code]

[2019-03-22 15:32] phoebeschmidt commented on #316
@Kinark thanks for finding this shortcoming in our docs. If you see something you'd like improved, I'm happy to review a PR :)

[2019-04-02 05:08] adamrogas opened #317 "when querying using links_to_entry you are not able to use Order"
## Expected Behavior

[code]

This should return an ordered result but it returns empty result.

## Actual Behavior

## Possible Solution

[code]

This however returns a full result.

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Environment

-   **Language Version**: v10.15.3
-   **Package Manager Version**:
-   **Browser Version**:
-   **Operating System**: Windows 64
-   **Package Version*

[2019-04-02 07:55] Khaledgarbaya commented on #317
Hey @adamrogas,
Thanks for reporting this. What's the type of `fields.published` ?

[2019-04-02 17:49] adamrogas commented on #317
fields.published is date and when doing a normal query without links_to_entry it returns a full data set.

[2019-05-07 14:01] huesoamz commented on #197
same problem when in the model have in atleat one field "References, many" because that brings a array and cannot be converted to a json...
    let model = await client.getEntries({
      content_type: 'modeltype',
      include: 4
    })

Any thougths?

[2019-05-08 10:18] jellevandevelde commented on #135
The Content Delivery API docs are a nightmare to navigate I find. When selecting fields, make sure to only separete them using commas, without spaces.

As such:
`client.getEntries({content_type: 'myContentTypeId', select: 'fields.fieldName,fields.fieldName2'})`

[2019-05-08 19:46] Mk-Etlinger commented on #249
There's definitely a bug happening somewhere. Can we re-open this?

I'm currently using the Node Client("contentful": "^7.1.0", node -v: v10.12.0) and getting the following error:

TypeError: Converting circular structure to JSON

I have a Asset Wrapper content-type which has a field called exclusiveCountries which refs Countries.
So assetWrappers(CT) -> exclusiveCountries(field) -> Countries(CT,

[2019-05-12 09:33] dgoerdes opened #319 "CORS issue with getEntry in Chrome"
## Expected Behavior

`client.getEntry('<entry_id>')` should return the desired entry.

## Actual Behavior

The request results in a CORS error.

## Possible Solution

Seems like the problem is related to the URL used to get the entry from the API.
As `https://cdn.contentful.com/spaces/<SPACE_ID>/environments/master/entries/?sys.id=<ENTRIY_ID>` has a prefilight request which responds with the stat

[2019-05-13 07:55] Khaledgarbaya commented on #319
Hey @dgoerdes,
This is the first time I see this issue.
I'll look into it and get back to you but I am not aware of any redirect

[2019-05-13 10:29] Khaledgarbaya commented on #319
Hey @dgoerdes,
I could not reproduce your issue, this could be a CDN hiccup or probably a proxy setting.
Please let me know if you still have the issue

[2019-05-13 10:29] #319 closed

[2019-05-16 04:29] matejkramny opened #320 "Feed synced data to client on restart"
Hi,

If I'm understanding the sync feature correctly, it downloads the data from contentful and then uses the local data to resolve content/links without hitting your api.

Upon restart / refresh of the app the content would need downloading again since contentful doesn't store this data anywhere.
What's the purpose then of giving us the next sync token etc?

There is no way I can see we can imple

[2019-05-16 04:40] walpolea commented on #320
You can do the intial sync of all of the data and have your app to store it locally, in something like indexed DB or localstorage (on the web) or other device storage systems for mobile apps. Then the next time the user comes back, you won't have to do the intial sync again, you can just provide the sync token and you'll only get the adds, edits, and deletes that happened while the user was away,

[2019-05-16 05:41] matejkramny commented on #320
Thanks @walpolea. I get the part with the next sync token, however not clear which API could be used to feed the contentful client with the saved data.

- to get sync content (https://contentful.github.io/contentful.js/contentful/7.6.0/ContentfulClientAPI.html#.sync)
- resolve the links (https://contentful.github.io/contentful.js/contentful/7.6.0/ContentfulClientAPI.html#.parseEntries)

Looking at

[2019-05-16 05:47] walpolea commented on #320
Ahh, correct, the js sdk just interfaces the API for you to do the initial and subsequent syncs. It's up to you to implement how you store, access and update the data locally. For example, I've used localforage and dexie has solutions for this. Once you have the data you don't have to give it back to the contentful sdk.

[2019-05-16 06:09] matejkramny commented on #320
Oh, cool. Thanks a lot!

One more question please. How do you query the cached data, such as when using `getEntries`, `getEntry` etc?
Things like sort, filtering by content type and linked content wouldn't be available or have to be written by ourselves.

[2019-05-16 06:19] walpolea commented on #320
Right, you have to implement it yourself, or use a library that has some query capabilities built in. With indexed db, that usually looks like making index tables, where you have the contentful field value that you want to search be the key, and the entry ID(s) as the value(s) at that key. I believe dexiejs has this built in, you just tell it which object fields you want to index.

[2019-05-16 06:31] matejkramny commented on #320
Inspecting the network panel it seems the sdk fetches data from the api anyway rather than using the sync data..
It might be caching repeat queries but it's not really 'offline'.

Thanks again

Matej

[2019-05-16 06:31] #320 closed

[2019-05-21 16:06] dgoerdes commented on #319
Hey @Khaledgarbaya,
I also can not reproduce it anymore now. As instantly the issue occurred, it was gone.
Thanks anyway!

[2019-05-22 15:55] mrsteele opened #321 "Incompatibility with Node v10.15.3"
## Expected Behavior

This module would work with the latest node v10 (v10.15.3) just as it currently does for us on node v9.3

## Actual Behavior

Seems that we get intermittent errors:
[code]

## Possible Solution

I think there is some sort of memory related problem maybe? I was able to reproduce this by refreshing my page really fast. Not sure if that just made it show up do to frequency but i

[2019-05-22 16:05] mrsteele commented on #321
Actually I'm going to close this.

It appears a library we had was using an outdated version of this package. Once we updated to the latest, this bug went away.

[2019-05-22 16:05] #321 closed

[2019-05-29 13:29] gagle opened #323 "Cannot read property 'node' of undefined"
When creating a client I get this error:

[code]

That's because `process` exists but process.browser does NOT exist, therefore `utils.isNode()` returns true and then it calls `utils.getNodeVersion()` and crashes because `process.versions` does NOT exist.

[code]

## Environment

Angular v7.2.15

[2019-05-29 13:56] gagle commented on #323
Just close and ignore this. Sorry

[2019-05-29 13:56] #323 closed

[2019-06-01 09:50] MatteoGioioso opened #324 "Fetch support"
If I am not mistaken your library is using `axios` is it possible to have support for `fetch` API?

Thanks

[2019-06-03 07:35] Khaledgarbaya commented on #324
Hey @MatteoGioioso,
any reason you want to use fetch instead of axios?

[2019-06-05 07:07] jariwalabhavesh commented on #96
@Khaledgarbaya : Latest version is not working with react-native. It has some dependency issue which doesn't allow react-native app to run.

[2019-06-05 07:23] Khaledgarbaya commented on #96
H @jariwalabhavesh, can you share a small project with the issue?

[2019-06-05 08:45] jariwalabhavesh commented on #96
@Khaledgarbaya : Sure  i will do

[2019-06-05 15:34] seifsay3d commented on #293
Is someone working on this? if not I would like to give it a shot.

On a similar matter, the `Entry` type seems not to have update is that being handled?
[code]

[2019-06-05 16:08] phoebeschmidt commented on #293
@seifsay3d no one else is working on it, go ahead!

[2019-06-06 06:19] jariwalabhavesh commented on #96
@Khaledgarbaya : here is a small project which you ask for https://github.com/jariwalabhavesh/contentul-issue-rn
just clone and npm install

Project has two branch/
1. master
which has latest(v7.6.0) version of contentful and not working in react-native project

2. working
which has v3.6.4 contentful and working in react-native project

Please let me know if you need anything else. I had also writ

[2019-06-07 09:39] cachrisman commented on #249
@Mk-Etlinger Can you please provide more information about your use case in your application and why you need to stringify it?

The `include` parameter is telling the API how many levels deep to go when looking for possible referenced entries to include in the response. What you are seeing when you say `However, on the 4th level of content the links are still being resolved all the way down the hi

[2019-06-07 13:12] Mk-Etlinger commented on #249
@cachrisman Hey thanks for your reply! I'm sending my response as JSON to the client to consume and therefore it's stringify'd.

I actually have a circular reference on the 5th level deep. This is why I only want to include 4 levels deep and not resolve past that. So I would want the links to resolve down to the 4th level, the 5th being a of `{ type: 'link'}`

The hierarchy is like this:

Countrie

[2019-06-10 06:36] jariwalabhavesh commented on #96
@Khaledgarbaya : any update on an issue?

[2019-06-11 08:42] Khaledgarbaya commented on #96
Hey @jariwalabhavesh still looking into it. I will post an update soon

[2019-06-11 11:28] Khaledgarbaya commented on #96
Hey Folks,
@jariwalabhavesh, Thanks a lot for your sample project.
I made a PR that fixes the issuehttps://github.com/jariwalabhavesh/contentul-issue-rn/pull/1.

React Native somehow is loading the node bundle. This change makes sure that RN picks the right bundle

[2019-06-11 11:28] #96 closed

[2019-06-11 11:29] Khaledgarbaya commented on #96
For reference, we have this workaround in the `troubleshooting section` https://github.com/contentful/contentful.js#troubleshooting

[2019-06-11 12:03] jariwalabhavesh commented on #96
@Khaledgarbaya : Thanks a lot.

[2019-06-14 08:08] oliverstr opened #326 "Empty SyncAPI response counts as a call?"
If I'm using the asyncAPI and my next call actually returns nothing, meaning nothing changed on my contentful data, will that count as a "call" in my account usage report?

[2019-06-14 08:45] phoebeschmidt commented on #326
Hi @oliverstr,

It would count against your api limits.

cheers,
p

[2019-06-14 08:45] #326 closed

[2019-06-14 15:18] oliverstr opened #327 "SyncAPI not resolving links"
## Expected Behavior
The sync function, when performing a call passing the nextSyncToken, to results should have the links resolved.

## Actual Behavior
The links are coming only with the id reference:

[code]

## Steps to Reproduce
Create a client with the Preview API data, and then call:
[code]

-   **Package Version**: 7.7.0
-   **Which API are you using?**: Preview

[2019-06-27 03:44] shahzadhassan10 commented on #93
Is there any way to POST content to a content_type using the javascript SDK? I want to create records with couple of fields from client side. I can only see get functions no post function in the documentation.

[2019-06-27 03:49] shahzadhassan10 opened #331 "post content to a content type from client side"
Is there any way to POST content to a content_type using the javascript SDK? I want to create records with couple of fields from client side. I can only see GET functions and no Post function in the documentation. An example for that would be great.

[2019-06-27 07:44] phoebeschmidt commented on #331
Hi @shahzadhassan10,

This is just our SDK for the delivery API, which is read only. If you want to update content you should use our management API sdk, https://github.com/contentful/contentful-management.js.

Hope that helps!

[2019-06-27 07:44] #331 closed

[2019-06-27 10:00] axe312ger commented on #93
@shahzadhassan10 I assume u are fresh to github. Next time feel free to open a new issue for your question. I'll answer anyways:

This SDK can't POST data, you are looking for this: https://github.com/contentful/contentful-management.js

[2019-06-27 10:05] phoebeschmidt commented on #93
@axe312ger did you mean to comment on https://github.com/contentful/contentful.js/issues/331 ? :)

[2019-06-27 10:09] axe312ger commented on #93
@phoebeschmidt nope, he just removed his comment here after I replied 🙈

[2019-06-27 14:24] linus commented on #327
I am currently wrestling with this, too. It's actually [documented in the API docs](https://contentful.github.io/contentful.js/contentful/7.8.0/ContentfulClientAPI.html#.sync):

It seems to me that a nice addition would be the possibility of initializing the client with the current data before sync, and then have it resolve links using the current data and the sync deltas.

There is also a [parseE

[2019-06-29 19:59] tsaulon commented on #279
@Khaledgarbaya Are we able to use the select operator for properties retrieved from an entry's reference as well? In the context of `.getEntries({ . . . })`

[2019-07-01 16:07] Khaledgarbaya commented on #279
@tsaulon Yes

[2019-07-17 12:02] JavRok opened #333 "When are we gonna get search queries on a multiple-reference field ?"
There's a need on my company (& the community) for this functionality, which is currently not available. Here's a discussion about it:

https://www.contentfulcommunity.com/t/searching-on-multiple-reference-fields/377/10

## Expected Behavior

A simple use-case is Tags. Contentful doesn't have 'native' tags for articles. So we use an entity 'Tag' with just a keyword. In our case, an article can hav

[2019-08-01 20:50] cinnamonkale opened #334 "JSON data is out of order"
## Expected Behavior

My JSON field is structured like this in the Contentful JSON editor:

<img width="619" alt="Screen Shot 2019-08-01 at 3 00 05 PM" src="https://user-images.githubusercontent.com/6350880/62326423-a8ef3b00-b473-11e9-9523-5ce265ab9775.png">

where the order of the `data` key should be:

1. Payroll Issue
2. Relocation
3. Promotion
4. Leave of absence

## Actual Behavior

Looking a

[2019-08-02 03:50] MatteoGioioso commented on #324
@Khaledgarbaya I think it might be better for `service worker` support

[2019-08-07 01:40] brijmcq opened #336 "Response size too big. Maximum allowed response size: 7340032b"
## Expected Behavior

Calling client.getEntries should get all of my data.

## Actual Behavior
I'm getting this error message `Response size too big. Maximum allowed response size: 7340032b.`

## Possible Solution
Here's my config when calling the `getEntries` function
`await client.getEntries({content_type: 'xxxx', include: 3});`
I know that the `include:3` causes it to make the response size too

[2019-08-07 07:54] Khaledgarbaya commented on #336
Hi @brijmcq,
you can reduce the number of entries per page
`await client.getEntries({limit: 50})` and keep the include value

[2019-08-07 07:59] brijmcq commented on #336
thanks @Khaledgarbaya . My workaround is something like this
[code]

[2019-08-07 07:59] #336 closed

[2019-08-22 12:19] liamdanielduffy opened #338 "Unable to retrieve correct results using "links_to_entry""
Hi,

I have a content model with the following content models

Author (with content id “author”)
Article Category (with content id: "articleCategory)
Story (with content id: “story”)

Story contains the following fields:

author (single reference to “author” content)
article categories (multiple reference to “articleCategory” content)
Here is the problem I’m running into:

---

I have an author wi

[2019-08-22 13:36] Khaledgarbaya commented on #338
Hey @liamdanielduffy,
What happens if you remove the `content_type: “story”` part?

[2019-08-24 13:15] liamdanielduffy commented on #338
Hi @Khaledgarbaya

This request returns all content entries linked to the category with id "123"
`contentful.getEntries({ links_to_entry: “123” })`

This request returns nothing
`contentful.getEntries({ content_type: "story", links_to_entry: “123” })`

The problem with the first request is that I have more than one type of content linked to the category with id "123". I need to only retrieve "stor

[2019-08-26 11:31] Khaledgarbaya commented on #338
Hi @liamdanielduffy
can you try `contentful.getEntries({ 'sys.contentType.sys.id': "story", links_to_entry: “123” })` ?

[2019-09-06 18:41] liamdanielduffy commented on #338
Hi @Khaledgarbaya,

That works!

Would you mind explaining why the `sys.contentType.sys.id` was necessary, as opposed to `content_type `? or sharing documentation so I can better understand for the future?

Thanks so much for your help :)

[2019-09-06 23:44] NickyTesla opened #339 "Error fetching data client.getEntries(): Object.defineProperty called on non-object"
## Expected Behavior

client.getEntries(params) should be fetching data

## Actual Behavior

client.getEntries(params) is failing in the [from entry.js] wrapEntryCollection()  function with error:
Object.defineProperty called on non-object

this is happening in toPlainObject(cloneDeep(data));
where data is expected to be a JSON object, but instead data is coming through as a string.  The is mostly

[2019-09-09 07:14] Khaledgarbaya commented on #338
Hi @liamdanielduffy The API cannot apply `content_type` query on the parent element, that's why we used `sys.contentType.sys.id` which is a normal search field.
In summary, we get all the parent entries and see if the field `sys.contentType.sys.id` matches `story` and return them.

[2019-09-18 23:42] cn-d opened #341 "Getting multiple content_types"
Is there a simple way using the Content Delivery API to multiple `content_types` when using `.getEntries()`? Currently, I'm getting both `content_type` by getting ALL entries and mapping the the ones I need.

[code]

[2019-09-19 09:29] Khaledgarbaya commented on #341
Hi @cn-d
you can try
[code]

[2019-10-09 11:15] PetroPavlenko opened #344 "Error getspace with non master enviroment accessToken"
## Expected Behavior
My API key has access to QA environment only. But before initial request I would like to call `getSpace`. And received 404

## Actual Behavior, Possible Solution
Set space and environment

## Environment
QA

-   **Language Version**:  11*
-   **Operating System**: Ubuntu
-   **Package Version**: 2.1.47
-   **Which API are you using?**: Delivery / Preview

[2019-10-09 21:48] abmagil opened #345 "How to access headers on 429 Responses?"
## Expected Behavior
On error, with `retryOnError` set to false, when I hit the rate limit, I would expect to receive an error that exposes the rate-limit metadata referenced [here](https://www.contentful.com/developers/docs/references/content-management-api/#/introduction/api-rate-limits).

## Actual Behavior
The error that is sent back is a JS error with string fields that do not include the hea

[2019-10-10 08:24] Khaledgarbaya commented on #345
Hi @abmagil,
You can pass a handler to be called every time you receive a rate limit error and there you will get the headers you need.

[code]

[2019-10-10 12:27] abmagil commented on #345
Hi @Khaledgarbaya - I updated my code to be

[code]

and re-ran my calls. I saw many `Rate limit error occurred. Waiting for 1641 ms before retrying...` errors in my console, but never any logLevel or error data logging. I set a breakpoint in this code and it didn't hit either.

Is there a missing step in your solution? I don't seem to _ever_ hit that code.

[2019-10-17 20:05] kompounder opened #346 "Data structure - Delivery API vs. Gatsby API"
Hi,

I am using Contentful with Gatsby and am looking to serve both statically & dynamically.

The static content is generated via the gatsby-source-contentful plugin from Contentful (with Graphql), while the dynamic content is sourced via the Contentful Delivery API.

For Rich Text, however, I am finding that there are some differences in the data structure:
- For data sourced via the Gatsby plug

[2019-10-18 14:15] hikarut opened #347 "About retryLimit"
Hello

I always use contentful.
Thank you very much.

With recent updates
I understand that I can use `retry` as an argument.
https://github.com/contentful/contentful.js/pull/340

However, when you look at the code, it is added to the documentation,
I don't think that `retry` can be set as an argument in the actual code.
https://github.com/contentful/contentful.js/blob/master/index.d.ts#L15-L34

I

[2019-10-21 09:35] Khaledgarbaya commented on #346
Hi @kompounder,
When requesting the entries you can add `locale: *` query Example:
`client.getEntries({locale: '*'})`

[2019-10-21 15:50] nimajneb commented on #344
@Khaledgarbaya

Hi! I was just debugging the same problem before finding this issue.

If I understand the documentation at https://www.contentful.com/developers/docs/concepts/multiple-environments/ correctly, and a sandbox environment acts as kind of an override for specific space information, should `getSpace` then really get the data of the master environment's space?

Here's my code that failed

[2019-10-22 08:23] Khaledgarbaya commented on #344
@nimajneb
Every space has a master environment which is the actual space.
when you are requesting the space `spaces/spaceId/` that will get translated into `spaces/<spaceId>/environments/master`.
So if the API key is not allowed to access the master environment you won't be able to get the space information.

[2019-10-22 09:21] PetroPavlenko commented on #344
Looks like that should be mention in docs. As I can do it with rest API.
And as @nimajneb posted logical code but it is failing
1. So If I create client with `environment: 'test-environment'`.
2. And `spaces/spaceId/` that will get translated into `spaces/<spaceId>/environments/master`. But should be translated to `spaces/<spaceId>/environments/test-environment` acording configuration

[2019-10-22 12:20] Khaledgarbaya commented on #344
@petermakowski

`spaces/<spaceId>` is always pointing to `spaces/<spaceId>/environments/master` that's the main space what @nimajneb facing is that their API key is only set to work with `test-environment`

Here's some more Infos:
- https://www.contentful.com/developers/docs/concepts/multiple-environments/

[2019-10-22 13:56] nimajneb commented on #344
@Khaledgarbaya Thank you for looking into this. I understand and I can also confirm that everything works when granting the API key access to the master environment.

Here's some background: In our project, we're consuming the Contentful API with the gatsby-source-contentful plugin. When fetching the content, the plugin uses `getSpace()`, probably to get some metadata from it. However, if the conf

[2019-10-22 15:33] #344 closed

[2019-10-23 03:03] olivinesguerra opened #348 "Order By Sub Object value"
Hello guys,

Is it possible to query entries via order from the sub object fields?

For example:

let contentFullParams = {
  skip: params.skip,
  limit: params.limit,
  "content_type":"home",
  **order:"fields.ageCategory.fields.value",**
  // order:"-sys.createdAt",
  select:"sys.id,fields"
};
const data = await client.getEntries(contentFullParams)
					.then(entries => {
						return this.proce

[2019-10-23 09:16] jroehl commented on #348
Hi, what exactly do you mean by `sub object fields`? You can only sort on the content field types mentioned [here](https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters/order). It is not possible to set `order` for `object` type fields..

[2019-10-24 08:14] Khaledgarbaya commented on #344
Hey @nimajneb I think the gatsby plugin should start using the `environment.getLocales()` instead of `client.getSpace()` to get the default locale.
I'll try to make a PR for that whenever I find time.

[2019-10-27 22:56] erickteowarang opened #349 "Sync API does not appear to return deletedEntries"
## Expected Behavior

The sync API should return items in the deletedEntries array if an entry is deleted in Contentful since the last nextSyncToken was given.

## Actual Behavior

Deleted entries is always returning an empty array. I tried it in various other methods, reinitialising the sync token with a new sync and it still would not return anything.

## Steps to Reproduce

1. Do a sync call wi

[2019-11-05 20:06] s5no5t opened #350 "TS Typings suggest fields is never undefined, but it can be"
The typings for `Entry` suggest that the `fields` property cannot be `undefined`: https://github.com/contentful/contentful.js/blob/559733a47b2dcf8918f46c15f7d10ae366f09e49/index.d.ts#L82

That isn't always true: `fields` is undefined if there is a draft entry that is referenced from a published entry, i.e.

A (published) -----> B (draft)

When querying for A, `A.b_ref.fields` is `undefined`. This

[2019-11-05 20:08] jugglingthebits commented on #350
cc @Remya-ecademy

[2019-11-05 20:11] jugglingthebits opened #351 "Sys interface in typings is missing revision property"
The typings are missing the property `revision`, which is a `number` when an entry is published, and `undefined` when it is not.

https://github.com/contentful/contentful.js/blob/559733a47b2dcf8918f46c15f7d10ae366f09e49/index.d.ts#L135-L144

This should be changed so that the typings contain the `revision` property.

[2019-11-16 02:48] noorhammad opened #352 "getEntry() without specifying entry id argument returns latest Entry"
#  Expected Behavior

When calling `getEntry()` _without_ specifying an entry id as an argument, there should be an error returned.

## Actual Behavior

The latest (most recently created) Entry is returned.

## Steps to Reproduce

[code]

[2019-11-25 13:03] tzookb opened #353 "Updating entries with an api call"
## Expected Behavior

being able to update an entry after fetching it with `client.getEntries`

## Actual Behavior

I get "update" undefined error

## Steps to Reproduce

1. using the javascript sdk package
2. using the snippet code:
[code]

## Context

I want to use the api, to update contenful items.

## Environment

-   **Language Version**: v8.12.0
-   **Package Manager Version**: 6.8.0
-   **

[2019-12-03 16:26] lucaziz commented on #347
is type missing?

Looks like interface CreateClientParams is missing retryLimit.

[2019-12-04 19:13] austinthetaco opened #354 "Formatting data for react native"
I'm trying to load rich text into a react-native application, but the data isn't in an easily digestible format. At the very least if it was a string i could use an html-react-native-renderer. Is there any common practice or library used to convert the typical contentful rich text structure (body.content[0].content[0].marks etc etc) to a more normalized html or jsx structure?

[2019-12-05 14:24] phoebeschmidt commented on #354
Hey @austinthetaco,

excellent question! We do have a series of tools that help with rendering contentful rich text entries: https://github.com/contentful/rich-text

Probably the react-renderer is the one you're looking for. Hope this helps!

[2019-12-05 14:24] #354 closed

[2019-12-05 18:39] austinthetaco commented on #354
@phoebeschmidt unfortunately that renderer won’t work for react native, as react native doesn’t support a lot of normal html elements. Is there some way that I can get the rich text as just one string of html that I can run through my own custom renderer?

[2019-12-10 09:23] phoebeschmidt commented on #354
@austinthetaco for the react renderer (and the html renderer) you can pass custom renderers as functions for different types of rich text nodes (Blocks, Nodes, or Embedded Elements.) You can read more about the different types here: https://www.npmjs.com/package/@contentful/rich-text-types. There's an example of how to do this in both the react renderer and the html renderer packages in the repo I

[2019-12-11 12:24] Burtonium commented on #135
I second Jelle's comment. API docs are kind of a bitch.

[2019-12-16 16:00] ruderngespra commented on #347
Thank you! I added the missing type declaration.

[2019-12-16 16:00] #347 closed

[2019-12-16 18:35] JackCA opened #357 "Response config can be undefined"
## Expected Behavior

The client should not always [expect a request to be attached to an error](https://github.com/contentful/contentful.js/blob/17b19a34ebb743cde08ea4bdd66aae45ddfe8f94/lib/contentful.js#L101).

## Actual Behavior

When the browser enters an offline state, the code linked above will trigger a `Cannot read property 'config' of undefined` error because when the browser is offline,

[2019-12-19 11:40] alejandroiddev commented on #334
An object is an unordered collection of zero or more name/value pairs, where a name is a string and a value is a string, number, boolean, null, object, or array.

https://stackoverflow.com/questions/7214293/is-the-order-of-elements-in-a-json-list-preserved

[2019-12-19 15:31] cinnamonkale commented on #334
Thanks for the link. We ended up using arrays to keep the insertion order:

[code]

[2019-12-19 15:31] #334 closed

[2019-12-20 10:29] MickL commented on #324
@Khaledgarbaya I am not able to use `contentful.js` on a Cloudflare worker since it uses axios. Axios does not work there and `fetch()` must be used instead.

[2019-12-20 11:11] MickL commented on #357
I get `Cannot read property 'config' of undefined` even it is an error with axios which does not work within a Cloudflare Worker

[2019-12-31 09:36] muhammadabad commented on #197
I'm trying to serve content as a proxy in express,

`async getIndex(req: Request, res: Response, next: NextFunction) {

const news = await this.cf.getNews();

res.send(news);
}`

DO THIS:-

res.send(news.data);     //Replace this line

[2019-12-31 18:45] digitalgravy commented on #351
It also seems to be missing the `createdBy` property?

[2020-01-04 10:41] mtalhadev opened #361 "The package at "node_modules\contentful\dist\contentful.node.js" attempted to import the Node standard library module "assert"."
I have been using contentful for the reactjs, it was working completely fine, but i just tried to use it on react-native app and having issues with it. It shows me this error

I have searched everywhere for the solution but nothing seems to work for me.
My dependencies are following:
`"dependencies": {
    "@expo/vector-icons": "^10.0.6",
    "contentful": "^7.11.3",
    "expo": "^35.0.0",
    "re

[2020-01-04 10:52] mtalhadev commented on #361
[code]
I am simply importing it like this

[2020-01-06 15:57] hedymoussaoui3869 commented on #308
Hello,
I encountered the same problem with Safari 13.0.4 on macOS Mojave and IOS 13.3.
This problem is triggered on the second call.
It seems to be a problem with 3rd party cookie.

![Capture d’écran 2020-01-06 à 16 00 26](https://user-images.githubusercontent.com/59567617/71826383-14ca7500-309e-11ea-86a1-729eace03399.png)

[2020-01-09 10:02] #357 closed

[2020-01-09 10:04] phoebeschmidt commented on #357
:tada: This issue has been resolved in version 7.12.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/contentful/v/7.12.1)
- [GitHub release](https://github.com/contentful/contentful.js/releases/tag/v7.12.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-09 17:45] JackCA commented on #357
Awesome 👏

[2020-01-10 13:03] liamdanielduffy opened #365 "Example of how to search for a fuzzy match across multiple text fields at once?"
Hi,

I have a collection of entries with content type 'Article'

Each article has the following fields:
- authorName (short text)
- title (short text)
- shortSummary (long text)
- shortEssay (reference to a single entry of 'Short Essay' content type)
- longEssay (reference to a single entry of 'Long Essay' content type)

The 'Short Essay' content type has a field called:
- body (rich text)

The 'L

[2020-01-10 15:04] gambry commented on #327
I agree with @linus . Currently I'm not 100% sure how to make use of the Sync API followup calls. Links are not resolved, and fetching again the updated entry directly from the [Entry endpoint](https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/entries/entry) won't work  as:

So in the scenario where I have a page with multiple Linked entries, and I update the p

[2020-01-30 16:16] nmain100 opened #369 "Validations for single references are missing"
##  Expected Behavior

When querying for a content type, or all content types, I want to be able to see the validations, but they're missing for a references one field (references many are working).  For instance, when I use Chrome devtools to see what Contentful's own UI gets back from the Contentful API, I see this:

`https://api.contentful.com/spaces/<redacted>/content_types/testThingWillBeDele

[2020-01-31 17:07] phoebeschmidt commented on #369
Hi @nmain100,

The web app uses our management API, which has differently shaped responses compared to our delivery API. I agree it's strange that the delivery api only returns validations on one-to-many reference fields... but the responses I'm getting from querying the delivery API directly are consistent with the responses you included above.

You might consider using the management API if thes

[2020-01-31 18:35] nmain100 commented on #369
I see.  It's not an SDK bug then, so I'll close this ticket and follow up with support on the API bug.

[2020-01-31 18:35] #369 closed

[2020-02-01 15:25] Ancinek opened #370 "CORS issues"
## Expected Behavior
No CORS-related errors
## Actual Behavior
Today I've noticed that my blog (created with the use of Contentful) is empty. Console showed me those:

[code]

Not sure why it happens. I have another app using Contentful and it works pretty well out there. The only difference is that I'm not using `https` there yet.

## Environment

-   **Language Version**:  11.14.0
-   **Package

[2020-02-01 15:50] Ancinek commented on #370
Leaving this post here for other people who might encounter the same issue as I did.

This library was written with the use of `axios` for making the requests. The arguments of `createClient` method are passed down when creating `axios` client. Passing `withCredentials: false` solved the issue for me:

[code]

[2020-02-04 21:04] ryanhefner commented on #361
@mtalhadev If you change it to the following, it should fix your issue:

[code]

Let me know if that does the trick or not.

[2020-02-04 21:09] gayathrirajendran commented on #323
@gagle am facing the same issue, how did you get out of this ?

[2020-02-05 18:35] kingeric027 opened #371 "contentful.legacy.min.js not working on IE 11"
## Expected Behavior
I am using the legacy contentful library described here https://contentful.github.io/contentful.js/contentful/6.1.0/

my script tag in my index html is
`<script src='https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.legacy.min.js'></script>`

I would expect this to work on IE 11:
"To support legacy browsers in your application, use contentful.legacy.min.js instead

[2020-02-11 20:09] Weffe opened #372 "Add support for cancelable requests"
Since this library is using axios under the hood, I think it would be nice to provide a way to pass along the [Cancellation token](https://github.com/axios/axios#cancellation) when making a contentful request.

## Expected Behavior

I would expect to pass the cancellation token as a param on each request since that's how axios gets the cancel token.

[code]

## Context

This feature would be very

[2020-02-23 16:32] shivawahi commented on #74
My images coming from Contentful, doesn't seems to be gzip compressed. Is there any setting that I need to make?

[2020-02-23 16:49] shivawahi opened #375 "GZip compression for images in Contentful"
My images coming from Contentful doesn't seems to be gzip compressed. Is there any setting that I need to make?

[This link](https://www.contentful.com/developers/docs/references/http-details/#gzip-compression) talks about that this is possible but I couldn't find any such setting. Can you please let me know how can I ensure that images I'm getting from Contentful cloudfront are gzip encoded?

[2020-02-27 15:05] phoebeschmidt commented on #375
Hi @shivawahi,

You need to send the accept-encoding header with the value `gzip`. You can add this to your SDK client as a param called `headers` like this:

[code]

more info here: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding

[2020-02-27 21:59] codeviking opened #376 "Confusing documentation."
[This documentation](https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/synchronization/pagination-and-subsequent-syncs) states:

This is confusing, as it made us think we couldn't link from one content type to another.  That said links *are* resolved across content types in practice -- so these docs are likely wrong.

In our case we have three content types, `A

[2020-02-28 16:04] marcolink commented on #371
Thanks @kingeric027,

can you please try to pin the version to `7.12.1`:
`<script src='https://cdn.jsdelivr.net/npm/contentful@7.12.1/dist/contentful.legacy.min.js'></script>`

Please let me know if this solves the issue.

[2020-03-02 15:59] andreipfeiffer commented on #96
@Khaledgarbaya do you know how can we add TS typings/intellisense when importing from `contentful/dist/contentful.browser.min.js`?

[2020-03-06 16:00] jeniamoroz commented on #324
@Khaledgarbaya
`axios` support doesn't look too good (I would even say quite bad), despite it being "all-time awesome library".
This has been raised by many people externally and as issue on `axios` issue page, see following https://github.com/axios/axios/issues/1965.

Of course there are alternatives like https://github.com/googleapis/gaxios, but that just takes focus away from root problem:
- `c

[2020-03-10 15:08] jtomaszewski commented on #297
What's the `resolveDepth` param? I can't see any docs anywhere on it.

[2020-03-10 15:25] jtomaszewski opened #377 "Add an option to avoid circular references in the object returned by `getEntries()`"
Currently I'm loading page's data (from Contentful) in a next.js [`getStaticProps` function](https://nextjs.org/docs/basic-features/data-fetching#getstaticprops-static-generation). After that,  I'm returning that data as a prop to my react page component.

However, `getStaticProps` function must not return JSON with circular references. If you do that, you end up with _"circular references cannot

[2020-03-10 15:50] phoebeschmidt commented on #297
@jtomaszewski I believe by "resolveDepth" @TroutZen meant the "include" parameter

[2020-03-13 16:53] Ancinek commented on #370
I'm reopening this issue – I'm using contentful on 2 websites with the same configuration.
The first website is `https://onpills.co/pl/blog` – I'm getting `304` from the API and the blog posts are showing correctly.
The second website is `https://wallery.io/blog` – I was getting `304` until I tried to publish a new post today. The app is making an `OPTIONS` request and getting `204 No Content` alo

[2020-03-16 09:12] vbhakta8 commented on #275
Do we ever see the contentful API ever returning raw JSON with linking
i.e. skipping all the `sys` and `field` keys?

[2020-03-17 14:38] phoebeschmidt commented on #275
@vbhakta8 as Khaled mentioned above, you can use the API directly with the `select` parameter to skip sys if you want. The SDK will always have `sys` in order to do the linking.

[2020-03-20 21:47] paulobmarcos commented on #297
Same problem here. It's a strange behavior, or so it seems.

Imagine that we have the following:

**A** _---references--->_ **B** _---references--->_ **A**

**Current Behavior:**

Even if you use the `include` parameter to limit the depth of resolved links, it will still return the last entry A fully resolved instead of a link.

**Expected Behavior:**

It would respect the `include` parameter and

[2020-03-20 21:58] paulobmarcos commented on #377
Same problem here. It's a strange behavior, or so it seems.

Imagine that we have the following:

**A** _---references--->_ **B** _---references--->_ **A**

**Current Behavior:**

Even if you use the `include` parameter to limit the depth of resolved links, it will still return the last entry A fully resolved instead of a link.

**Expected Behavior:**

It would respect the `include` parameter and

[2020-03-20 22:38] paulobmarcos commented on #377
After checking who was responsible for transforming the result, I found it to be : [contentful-resolve-response](https://github.com/contentful/contentful-resolve-response).

Maybe that package should accept an option to go deep until a certain level.

In most cases, that deep level is the `include` parameter value.

[2020-03-25 04:53] cazroam opened #385 "Enable use of list-style-type in rich-text"
I want to be able to use multiple list styles in one component when using rich-text.
I also want to be able to have sub-lists/nested-lists.

## Expected Behavior
- Select the OL button and have a dropdown which allows me to select a `list-style-type`
- To be able to create a nested list

## Actual Behavior
- only numeric Ordered Lists are available
- I cannot create a nested-list

## Possible Solu

[2020-03-25 14:43] phoebeschmidt commented on #385
Hi @cazroam! Your me-moji looks weirdly like my me-moji! :) hope that's not creepy hah.

This is more of a feature request, not a bug or question about the JS delivery SDK. Do you mind emailing product-feedback@contentful.com or submitting a ticket here https://www.contentful.com/support/ ?

Thanks!

[2020-03-25 14:43] #385 closed

[2020-03-26 13:01] mxmtsk commented on #353
The Delivery API is read only. Can't you use the the Content Management API for it?

[Contentful Management API on GitHub](https://github.com/contentful/contentful-management.js)

[2020-03-26 13:08] phoebeschmidt commented on #353
Exactly-- this is the delivery SDK, which uses the delivery API. If you need to update entries, you should use our contentful-management SDK, which uses the management API (Linked above).

Here's the management SDK: https://github.com/contentful/contentful-management.js

[2020-03-26 13:08] #353 closed

[2020-03-26 13:25] mxmtsk opened #386 "Querying field value with locale is causing strange results"
I don't think it is specifically an issue with the library but more with the API itself. Please let me know if I should raise this issue elsewhere.

## Expected Behavior

If you have two locales where one returns the other as default fallback(eg. `de-CH` returns `de` as default) value and you use `getEntries` to receive entries and filter by some fields I expect that the query is applied to the fa

[2020-03-31 08:53] myhendry commented on #361
@ryanhefner i followed your import method. My expo app was able to build fine. However, when i go to the screen which is supposed to display my contentful assets, i get the following error

[Unhandled promise rejection: Error: You attempted to set the key `authorization` with the value `"Bearer...80PFc"` on an object that is meant to be immutable and has been frozen.]

[code]

[2020-03-31 09:55] jtomaszewski commented on #350
True. We encountered this problem [luckily, on staging env] just now in the same way as you did.

Seems like, the easy workaround is to pass `removeUnresolved: true` into your `contentful.createClient()` method. See https://github.com/contentful/contentful.js/issues/214 for explanation.

Whether the TS typedefs should be changed, that's still a valid question though.

[2020-04-02 07:18] marcolink commented on #287
Closing this issue for now since it's open for a long time with no reaction.

[2020-04-02 07:18] #287 closed

[2020-04-02 12:57] marcolink commented on #352
@noorhammad
what is the version of `contentful.js`  you're referring to?

A quick tests returns an `The resource could not be found.` Error for me.

[2020-04-02 13:00] marcolink commented on #352
@noorhammad

The provided example returns  `Error: The resource could not be found.` for me.

I will close this issue now. Feel free to open it again.

[2020-04-02 13:00] #352 closed

[2020-04-02 13:03] marcolink commented on #341
This issue has no reaction for some time.
Will close it for now. Feel free to open it again.

[2020-04-02 13:03] #341 closed

[2020-04-02 13:14] marcolink commented on #94
With Microsoft dropping support for **Windows 7/IE11** on **7. of Feb 2020**,
using `contentful.legacy.min.js` for projects who still need to support it should be sufficient.

Will close this issue for now.

[2020-04-02 13:14] #94 closed

[2020-04-02 13:16] marcolink commented on #210
With no action on this issue,
i will close it for now.

Feel free to open it again.

[2020-04-02 13:16] #210 closed

[2020-04-02 13:19] #338 closed

[2020-04-02 13:25] marcolink commented on #348
@olivinesguerra

i will close this issue now. Feel free to open it again.

[2020-04-02 13:25] #348 closed

[2020-04-03 08:53] #371 closed

[2020-04-03 12:01] marcolink commented on #293
This seems solved. will close this issue now.

[2020-04-03 12:01] #293 closed

[2020-04-03 12:02] marcolink commented on #215
This is already fixed, closing this issue now.

[2020-04-03 12:02] #215 closed

[2020-04-03 14:20] marcolink commented on #296
Hi @erik-wendt,

could you provide an actual and expected example result?

[2020-04-03 14:36] marcolink commented on #143
Related PR has been closed. will close this issue as well.

[2020-04-03 14:36] #143 closed

[2020-04-03 15:29] #351 closed

[2020-04-03 15:32] phoebeschmidt commented on #351
:tada: This issue has been resolved in version 7.14.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/contentful/v/7.14.2)
- [GitHub release](https://github.com/contentful/contentful.js/releases/tag/v7.14.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-03 15:42] marcolink commented on #208
Hey @rewop,
Good catch, the shape of the `sync` result differs indeed from the one for `getEntries`.
Do you have a chance to open a pull request for it?

[2020-04-03 16:03] marcolink commented on #346
With no action for some months i will close this issue now. Feel free to reopen it.

[2020-04-03 16:03] #346 closed

[2020-04-07 10:34] just4fun opened #392 "Is there any way to fetch multiple entries in one request?"
Hi there,

Currently I'm fetching content by following code

[code]

Due to the limitation of 50 fields for content type, I created 2nd content type, and now I called above code two times with passing different content_type.

Is there any way to pass content_type as array? or am I using getEntries API in wrong way?

Thanks in advance.

[2020-04-07 11:29] phoebeschmidt commented on #392
Hey @just4fun,

You'd have to use a query over the entries like this:

[code]

Here's some docs for reference: https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters/inclusion/query-entries/console/js

Hope this helps :)

[2020-04-07 14:53] shahbazshoukat opened #393 "Cannot Render Contentful content by using Angular Universal (SSR)"
## Expected Behavior

Dynamic Content from Contentful should be rendered in Browser's page source.

## Actual Behavior

Content is not rendering using Angular Universal.

## Context

I am working on an angular app with Contentful CMS which needs to be SSR. I have followed all the steps mentioned here [Angular Universal](https://angular.io/guide/universal). But its just rendering the static content

[2020-04-07 21:49] ryanhefner commented on #361
@myhendry Yeah, I ended up doing some more testing with the solution that I found/posted, but I ran into that same issue, too. Have been. trying to get my [`react-contentful`](https://github.com/ryanhefner/react-contentful) package to work nice in React Native/Expo, but so far I haven’t found the magic solution to get it to play well in RN. Please let me know if you end up finding a combination th

[2020-04-08 00:55] myhendry commented on #361
@ryanhefner Thanks for your sharing. So far, I haven't found a way. If we happen to come across any solution, shall post it here. Thanks :)

[2020-04-08 10:01] erik-wendt commented on #296
Hi @marcolink,

I've tested it again for the new version "7.14.2" and it's still not working.

If I use this query the link resolution just works as expected

[code]
and produces the following output:

![image](https://user-images.githubusercontent.com/7628803/78771393-61b93280-7990-11ea-990c-20dd1d226772.png)

But if i try to filter the "sys" object to get the ID only the link resolution is not w

[2020-04-09 10:49] just4fun commented on #392
@phoebeschmidt - That's what I need, thanks a lot. TBO, before I created this issue for the question, I checked that document, but didn't find it.

[2020-04-09 10:49] #392 closed

[2020-04-11 09:09] sgammon opened #395 "Unusable with CloudFlare workers due to Axios bug"
## Expected Behavior
I would expect to be able to use Contentful JS from a CloudFlare worker.

## Actual Behavior
I cannot use Contentful's Node/JS SDK from a CloudFlare worker because of axios/axios#2507.

## Possible Solution(s)
- Stop using Axios and just use native APIs.
- Switch to a commit of Axios with the proposed fix (axios/axios#2508).
- Write an adapter for Axios to use WebWorker-availa

[2020-04-15 12:23] hkogge opened #397 ""insecure" parameter default setting incorrectly documented"
In your [docs](https://contentful.github.io/contentful.js/contentful/7.14.2/contentful.html) it's mentioned that the `insecure` parameter is set to `true` by default. But according to [your code](https://github.com/contentful/contentful-sdk-core/blob/4aa1f2e94c1204ff5772f8ea59070a7bc57c5755/lib/create-http-client.js#L32) this is not the case.

This lead to some initial confusion on my end and it w

[2020-04-18 07:21] KoKim2020 commented on #211
thanks you so mush brother axe312ger

[2020-04-20 22:18] wil93 opened #399 "Provide more specific type for the fields of the Asset interface"
Hello, I noticed that the `Asset` interface is defined as:

[code]

My question is: would it be possible to also have a version of the Asset type that only specifies the content of `fields: {...}` ? (that is, title, description and so on).

Something like `AssetData`. If we had that, then the `Asset` type could be defined like:

[code]

The reason I'm asking for this is that I'm trying to write a

[2020-04-21 12:58] Gorden-Wang opened #400 "sync limit param seems not work"
## Expected Behavior
When I use sync API and set the limit param to 10, I expected the response results length will be 10, And it takes a long time to wait for the response.
[code]

## Environment

-   **Language Version**: v12.15.0
-   **Package Manager Version**: 6.13.4
-   **Operating System**: Mac os
-   **Package Version**: 7.14.3
-   **Which API are you using?**: Delivery

[2020-04-24 03:18] asselin opened #401 "Typescript index.d.ts RichTextNodeType is missing embedded-entry-inline"
## Expected Behavior

The RichTextNodeType has the strings for all of the possible rich text node types.  "embedded-entry-inline" should be included in the list.

## Actual Behavior

"embedded-entry-inline" is not included in the list.

## Possible Solution

Add "embedded-entry-inline" to the list.

[2020-04-24 08:33] #401 closed

[2020-04-25 13:17] amaan-nadeem opened #403 "Nested References Query Failed to excecute"
## Description of issue
I have a content type of Coupon cards having a reference field of store and all the stores content type having the reference field of category. Don't know how to execute nested query to get all the coupon card related to specific category.
flow of application is
Coupon cards > its store > its category .

Here is the code snippet i used but it failed to excecute

`
const res

[2020-04-26 03:27] Gorden-Wang commented on #400
I finally find the solution with HTTP API
[code]

[2020-04-28 08:53] phoebeschmidt commented on #401
:tada: This issue has been resolved in version 7.14.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/contentful/v/7.14.4)
- [GitHub release](https://github.com/contentful/contentful.js/releases/tag/v7.14.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-03 03:44] cityvoice opened #405 "A bug about Full-text search on a field"
-   **Package Version**: 7.14.4
-   **Which API are you using?**: Delivery

Full-text search on a field only matches the fields which value start with query string, examplce code:

[code]

It only matches the records like:

[code]

not:
[code]

just like match ^content.

[2020-05-06 08:29] unixisking opened #406 "Title of the documentation is overlapping."
Hello :)

The title in the  [home page](https://contentful.github.io/contentful.js/contentful/7.14.4/) of the documentation is overlapping like so:
![pic-selected-200506-0956-08](https://user-images.githubusercontent.com/13711044/81153761-243dca00-8f7b-11ea-886e-388f0b2d7d87.png)

There's also a typo in the jsdoc.css file for version 7.14.4

![pic-selected-200506-1026-22](https://user-images.githu

[2020-05-07 15:23] fpl1976 commented on #393
Same issue

[2020-05-07 18:37] shahbaz-shoukat commented on #393
@fpl1976 I have resolved the issue by using Contentful API instead its SDK.
Use its API with HttpClient.

API Reference:
https://www.contentful.com/developers/docs/references/content-delivery-api/

**NOTE:** Use full API url in HttpClient without any proxy.

[2020-05-08 14:21] fpl1976 commented on #393
Yeah, makes sense. I'm going to try this solution. Thx!

[2020-05-12 14:49] Ancinek commented on #319
I still have this happening, but it's hard to catch – as @dgoerdes stated, it appears and then it's gone. This is the error in the browser (Firefox):
[code]

[2020-05-15 00:58] bryandowning commented on #377
I just ran into this problem as well. In case anyone else lands here who also happens to be using [normalizr](https://www.npmjs.com/package/normalizr), the fix for this is SUPER simple — just update normalizr to at least 3.4.0 (3.5.0 would be better as performance improvements were introduced there).

normalizr supports normalizing circular references without you needing to do anything outside of

[2020-05-16 06:51] nnabinh commented on #361
Hmm, I ended up creating my own simple http request. Take a look at my draft request implementation. In order to improve this, you can consider to create your own client. Reading the source code in this repo would help to do that.

[code]

Reach the code further here:
https://github.com/contentful/contentful.js/blob/master/lib/contentful.js
https://github.com/contentful/contentful.js/blob/master/l

[2020-05-18 19:29] JackCA opened #408 "Full lodash dependency when consumed as a module"
## Expected Behavior

When consuming this library as a `module`, the entire `lodash` library is included.

## Actual Behavior

The entire library is included because the module build does not get the advantages provided by the webpack/babel plugins in the non-module version.

I don't think you should expect end-users to subsequently use webpack/babel on their downstream package because they might

[2020-05-20 09:46] r3plica commented on #289
I have tried this and it doesn't work. Now I just get 404 errors and looking in the network tab, it's actually trying to call from the localhost instead of contentfuls API url

[2020-05-21 08:17] naomei opened #409 "About the number that can be acquired by client.getEntries ()"
The document states that the number of records that can be obtained with client.getEntries is 100 by default.
However, it seems that my application is currently able to obtain only 20 records.

Has it changed?

https://www.contentful.com/developers/docs/javascript/tutorials/using-js-cda-sdk/

[2020-05-22 00:33] Perdixo75 opened #410 "Uncaught (in promise) TypeError: Cannot read property 'fields' of undefined"
I'm trying to create a "portfolio" website to learn react. I've plugged content from Contentul, but i'm getting an error : `Uncaught (in promise) TypeError: Cannot read property 'fields' of undefined` when trying to display my content.

Here's what i've done so far to get content from Contentful into my React app :

1. I've creacted a contentful.js file
[code]

Then, i've created 2 custom Hooks fo

[2020-05-22 15:48] Perdixo75 commented on #410
So after another day trying to understand where the error comes from, it looks like it's coming from the way i've setup my `Router` in `App.js`. It's not an issue with my Contenful config.
By modifying the way i call my routes, the error disappeared and now all content is pulled and displayed correctly. For those interested, here is my new `App.js` file and how i've setup routes for now to correct

[2020-05-22 15:48] #410 closed

[2020-05-31 04:54] coleturner commented on #135
Hello 👋

I found this thread while trying to find documentation on the select operator. I'm wondering if there is an invert/negate operation for `select`, similar to '-' for ordering. The reason why is I'm trying to select all fields except one or two.

[2020-06-11 13:37] Xaz16 commented on #308
@Khaledgarbaya any updates about it? I'm not only one who has such trouble...

[2020-06-16 21:18] llwor94 commented on #405
bump ^ same issue

[2020-06-17 09:10] axe312ger opened #412 "X-Contentful-User-Agent header broken"
Just found this in an error message I got to debug for a CTF customer:

`"X-Contentful-User-Agent": "sdk contentful.js/0.0.0-determined-by-semantic-release; platform node.js/v12.16.0; os macOS/19.4.0;",`

Can you check if the user agent is sent correctly to the API? Probably version number is not overwritten by semantic release anymore.

Greets,
Benedikt

[2020-06-18 15:10] eddyw opened #413 "Contentful Preview API wrongly includes `sys.locale` on response"
## Expected Behavior

**Contentful Preview API** should be consistent with **Contentful Delivery API** in that when making a query such as:
[code]
The entries shouldn't include `sys.locale`. This field shouldn't exist when query is all locales. This has been working fine all the time and we've noticed that preview breaks for us today because we rely on `sys.locale` to figure out the type of respon

[2020-06-18 17:52] gburgett commented on #413
My team ran into this same issue today, and we do not use contentful.js, we use our own Ruby client.  So, this is most likely an issue with a recent change to the Contentful Preview API.

[2020-06-19 09:37] eddyw commented on #413
@gburgett I opened a ticket with Contentful support yesterday and today they let me know that this was fixed. I'm testing before sending a reply but so far it seems that all is working again for us. It'd be great if you could verify with your team.

[2020-06-19 13:57] gburgett commented on #413
@eddyw this is fixed for me as well.  I've asked that they post an incident report on their status page.

[2020-06-19 15:04] gburgett commented on #413
Here is the response I received from my support ticket:

I hope they will create an incident report, but it looks like this was a one-time error.

[2020-06-24 22:43] pugbyte opened #415 "Retry doesn't work"
##  Expected Behavior

When the SDK receives a response code 429 (rate limit), it retries that request.

## Actual Behavior

The SDK does not retry requests that fail on response code 429.

## Steps to Reproduce

I don't have any sample code for this, but I encounter 429 rate limits in my application occasionally (when I'm using the SDK in preview mode), and I noticed that they're not being retrie

[2020-06-29 15:08] dancespiele opened #416 "allEntries is missing inside of the type CreateClientParams"
## Expected Behavior

I should get all the entries and use the allEntries options in typescript
## Actual Behavior

I have the same issue that here https://www.contentfulcommunity.com/t/published-content-items-randomly-dissapear-from-fetched-yaml/1254/5 but I cannot include the option allEntries because is missing inside of the types of CreateClientParam

## Environment

-   **Language Version**:

[2020-06-29 23:13] randysimplist commented on #393
The real issue here is that Angular doesn't wait for the API to return before rendering the page. By using HttpClient you are forcing Angular's SSR process to wait for the call to complete before rendering is completed.

You can work around this issue by specifying an adapter (such as Axios) in `createClient`.

[2020-07-06 15:51] patriciomase commented on #194
this keeps happening. Same case of blogpost linking to 3 blogposts. If it links to itself `RangeError: Maximum call stack size exceeded` shows up

[2020-07-06 16:10] pixelass opened #417 "typings are very vague"
## Expected Behavior

I expect usable typings for methods

## Actual Behavior

`any` is used for parts where a typing would be extremely helpful (e.g. `query`).

There is no way to know what options can be used here (e.g. `getEntries<T>(query?: any): Promise<EntryCollection<T>>`)

[code]
## Possible Solution

## Steps to Reproduce

n/a

## Context

I want to fetch all entries with a query but I do

[2020-07-07 15:48] devdpontes commented on #408
It's only being used for `cloneDeep `.

[2020-07-09 16:18] gunturaf commented on #133
@Khaledgarbaya I cant seem to find the ES6 import documentation on the README today so I search for this problem in issues and stumble upon this one, does that documentation moved somewhere else?

[2020-07-15 10:50] pixelass opened #418 "GraphQL. DRAFT references cause errors on nullable fields"
## Expected Behavior

`DRAFT` as `Reference` should be ignored by graphQL on nullable fields.

## Actual Behavior

Adding a `DRAFT` as `Reference` causes an error and prevents loading data.

Using: `useQuery` via `@apollo/client` or graphiql via `https://graphql.contentful.com/content/v1/spaces/{SPACE}`

[code]

Partial data exists on graphiql via `https://graphql.contentful.com/content/v1/spaces/

[2020-07-16 22:04] xzhub commented on #287
Can't believe in the official document (https://www.contentful.com/developers/docs/tutorials/general/content-preview/#preview-content-in-your-online-environment), it didn't say anything about the host parameter!
![image](https://user-images.githubusercontent.com/3990687/87727326-5bd6b700-c7f3-11ea-85d6-2b6ba3e31cd8.png)

[2020-07-18 21:17] hellopath opened #419 "Gray bottom line on the images after a crop"
## Expected Behavior

I would like to crop my image with contentful's asset editor without a gray line at the bottom of the page.
The ratio I use is 2:3 for mobile use.

## Actual Behavior

After I apply a crop, a gray line at the bottom of the image appears which is not the case before the crop.

<img width="758" alt="Screenshot 2020-07-18 at 23 09 40" src="https://user-images.githubusercontent.c

[2020-07-20 08:52] Spring3 commented on #418
Hi, @pixelass.

Thanks for reporting this ticket. Indeed, Contentful Delivery API returns references to draft content along with an error, which is by design. A decision was made to have sdks handle this by providing an option to filter them out of the response.

For JS sdk, there is an option called `removeUnresolved`, that is responsible for such functionality. Have you tried adding it to your c

[2020-07-20 09:01] Spring3 commented on #419
Hello @hellopath .

Since it looks, like the issue is not on the sdk side, but rather on the way image processing services work, I would like to kindly ask you to open a ticket for customer support on the web app via intercom or contacting the support directly.

[2020-07-20 09:15] hellopath commented on #419
Hey @Spring3,
Thank you for your answer, I opened a ticket on the customer support.

[2020-07-20 09:15] #419 closed

[2020-07-20 11:26] pixelass commented on #418
@Spring3 thx for the comment but AFAIK there is no way to configure the graphQL API since it's hosted/provided by contentful and not part of our own source-code

[2020-07-24 16:12] sgammon commented on #395
hi contentful devs

people are pissed off about this

you've refused to fix it

we've stopped using your platform because of it

we even pushed code _for you_ to try and fix this, but we just can't maintain it ourselves

there is no reason to use axios anymore when fetch is the norm and XHR is deprecated.

thanks,
a pissed off dev

[2020-07-25 20:48] lfamorim opened #421 "obscureAuthTokenInResponse - Uses a deprecated property since Node v12"
This PR is non-sense. As programmers, we need to make all code understandable and avoid secret shortcuts, like the function obscureAuthTokenInResponse. This pull-request inserts a deprecated property from NodeJS since the 12 version and does not guarantee that there is no other secret leaking from the error, resuming, still insecure, and breaks production environments.

https://nodejs.org/api/depr

[2020-08-11 12:35] DiLiUA opened #422 "CONSOLE ERRORS"
I'm using contentful with the latest Angular version 10.0.5 and I have errors in the dev console.

environment.ts
[code]

contentful.service.ts
[code]

Each time when I call `contentfulService.getNewsList({limit: 6}) ` I get a list of news but  in the dev console I see 2 errors:
[code]

How can I fix it or it's your bug?

[2020-08-11 18:12] patrickedqvist commented on #377
I've tried @bryandowning approach using NextJS but without a redux implementation, it grows quite complex. You need some sort of global state management to access the output from normalize.

I have the following content structure:

**Page: Page A** ---references---> **Sections** ---references---> **Call To Action** ---references---> **Page: Page B**

Page B contains a field `parentPage` which is a

[2020-08-11 19:23] bryandowning commented on #377
@patrickedqvist You really shouldn't need to resolve/flatten those Call To Action references, and doing it is a slippery slope. As long as you have a schema defined for Page, Sections, and Call To Action, AND you have all the fields pointing to the proper schemas — you should be good to go. However, setting all that up is a bit tricky. Here's some (incomplete) sample code that may help — I don't t

[2020-08-12 09:11] patrickedqvist commented on #377
@bryandowning Thank you for your answer and valuable code example. I did try with something close to what you have shown. The problem is however with storing the results from the normalization in a way so it is easily accessible from a nested component. Now I can be wrong but from what I remember of using [next-redux-wrapper](https://github.com/kirill-konshin/next-redux-wrapper) is that you couldn

[2020-08-12 17:46] bryandowning commented on #377
@patrickedqvist I'm not aware of any reason static generation in Next wouldn't be possible when using some kind of global state management like Redux, but this may depend on your version of Next.

More info: https://nextjs.org/docs/basic-features/data-fetching#getstaticprops-static-generation

But also check out this recent Syntax episode about state management — there are some really great altern

[2020-08-13 07:26] patrickedqvist commented on #377
@bryandowning I've reread the documentation for next-redux-wrapper again, and it does no longer seem to force you to opt-out of static generation, however, if you use for example Redux-Saga then you must opt-out - "Keep in mind that this setup will opt you out of Automatic Static Optimization: [opt-out-auto-static-optimization](https://err.sh/next.js/opt-out-auto-static-optimization)".

Redux saga

[2020-08-13 19:24] bryandowning commented on #377
Interesting, thanks for pointing to that. However, worth noting that you're only opted out if you use getInitialProps in _app.js, which is not required for redux-saga:

https://github.com/kirill-konshin/next-redux-wrapper#usage-without-getinitialprops-inside-_app

[2020-08-14 13:55] cajoy opened #424 "Can't filter by multiple content types"
So I have a problem with filtering results when have mutiple content types,

So for example following 2 queries works fine:

[code]

[code]

but it doesn't work when I have filter on industry + multiple content types, it generates an error:

[code]

`"A Content Type ID is required. When querying for Entries and involving fields you need to limit your query to a specific Content Type. Please send a

[2020-08-17 12:26] patrickedqvist commented on #377
@bryandowning Oh, that was something I had missed. I will have to look into it and try it out.

[2020-08-27 23:27] rande commented on #395
I have a quick code to make axios work on `wrangler dev`. This is very the first iteration, and a lot of features are missing, but this can can fire a request to Contentful API.

[code]

[2020-09-09 15:46] hanna-greaves opened #427 "Typings suggest that Field.validations is always defined, but it is not."
This is an issue that came up when I was working with @marcolink on a [change](https://github.com/contentful-labs/cf-content-types-generator/pull/22) to the content types generator.

## Expected Behavior

Typings for the `Field` type suggest that `validations` will always be set.

## Actual Behavior

It is possible that `validations` can be undefined when querying the `content_types` endpoint from

[2020-09-10 08:06] marcolink commented on #413
As this seems fixed, I will close it for now.
Feel free to open it again.

[2020-09-10 08:06] #413 closed

[2020-09-10 08:10] marcolink commented on #406
Hi @sidou01, can you confirm that this is fixed?

[2020-09-13 23:09] asselin opened #428 "Performance issue with cloneDeep"
## Actual Behavior

While doing some performance testing, I noticed that there is a significant amount of time being spent in cloneDeep (in my case, app startup spent ~100ms in cloneDeep).  A getEntry call winds up calling cloneDeep 3 times on the response.  It looks like cloneDeep was added several years ago, but there wasn't any detail on why it was added-- is there a reason the data from the AP

[2020-09-14 10:08] malihassan20 opened #429 "Keep getting Cannot read property '_headers' of undefined"
I keep getting this error:

TypeError: Cannot read property '_headers' of undefined at contentful.js:100

I have initialized my client like this:

import { createClient } from 'contentful'

const contentfulClient = createClient({
  accessToken: process.env.CONTENTFUL_ACCESS_TOKEN,
  space: process.env.CONTENTFUL_SPACE_ID,
  environment: 'master',
})

I checked and see that the values from process.

[2020-09-14 17:39] #429 closed

[2020-09-15 04:21] sidou01 commented on #406
Hello @marcolink, this is still an issue even in the newer version 7.14.6

[2020-09-18 10:59] tommaton opened #430 "Javascript SDK returning all sys info in items array even if not in select statement"
When querying using the select parameter if I search just by the fields I get the fields selected and all the sys object.
but if I query for a item in the sys object I just receive that sys item with no fields

## Expected Behavior

I'm expecting when im doing the following

[code]

to only receive the following in the items array

[code]

## Actual Behavior

What I'm actually receiving is:

[code

[2020-10-12 18:52] nfcampos opened #432 "getSyncPage doesnt always return a response"
## Expected Behavior

Syncs never crash inside of the Contentful library

## Actual Behavior

We got the following stack trace
[code]

Which after analysis with the source map looks like this
[code]

Which is this line [https://github.com/contentful/contentful.js/blob/master/lib/paged-sync.js#L74](https://github.com/contentful/contentful.js/blob/master/lib/paged-sync.js#L74)

And the problem turns

[2020-10-14 19:44] xenoterracide opened #434 "typedefs do not include requestLogger, responseLogger"
[the docs](https://www.npmjs.com/package/contentful#configuration) say there should be a `requestLogger` and `responseLogger` however , the interface does not include them.

[code]

[code]

as a side note, I see no documentation for what `logHandler` ... `data` might contain... it is also a best practice to use `unknown` now if you don't know the type.

[2020-10-15 08:53] phoebeschmidt commented on #434
Hi Caleb, thanks for bringing this to our attention. typing update PRs are always welcome :)

[2020-10-15 12:10] julianbenegas commented on #418
No news on this? So, with graphql, we can't reference a draft entry... That's unfortunate

[2020-10-16 12:34] #432 closed

[2020-10-20 02:38] lukef opened #435 "Error when using Vite (Vue 3)"
## Expected Behavior

There is an error running applications using Vite (https://github.com/vitejs/vite). After installing the dependency using `yarn add contentful` and then running `yarn dev`, the server should start normally but fails with an error.

## Actual Behavior

Running `yarn dev` will cause the server to error with the following error:

[code]

## Possible Solution

The error directs y

[2020-10-20 03:11] lukef commented on #435
It looks like this is reported here actually: https://github.com/contentful/contentful-sdk-core/issues/58

[2020-10-21 09:53] ovy9086 commented on #350
wouldn't it just make sense that we don't get back those entries at all via the CDN 🤷‍♂️  any progress on this ?

[2020-10-22 18:23] AlexandraKlein opened #439 "Posts with Related Posts of the same content type produce very deep object"
## Expected Behavior
When fetching post data with `include: 3`, response should not return data deeper than 3 levels.

## Actual Behavior

[code]

The following returns:

[code]

-   **Node Version**:  14.13.1
-   **Yarn Version**: 1.22.10
-   **Operating System**: OSX Chrome
-   **Package Version**: 7.14.8
-   **Which API are you using?**: Delivery

[2020-10-23 04:32] AlexandraKlein commented on #249
+1 for reopening this.

I have Posts with Related Posts so when I fetch data, I get an infinitely deep object of Posts with Related Posts, with Related Posts, etc.

My code:

[code]
Returns the following:

[code]

[2020-10-24 11:56] David05500 opened #440 "RichTextEditor"
Why are you making it so difficult to print out RichTextEditor data, why there isn't a simpler way of doing it instead of defining options, configs and so on .... having options and config optional would make the whole experience so much more developer friendly.

[2020-10-26 18:42] alonre opened #442 "Definition of `Asset` type is wrong - failing content validation"
## Expected Behavior
[Type definition of `Asset`](https://github.com/contentful/contentful.js/blob/master/index.d.ts#L50) should match the actual content that is returned from the API.

## Actual Behavior

 1. `sys`: Asset uses the general definition of `sys`, which requires a `contentType` entry. However, `Asset` does not include it. **This is the main blocker for us (at Intercom).**
 1. `title`

[2020-10-27 19:58] mvanduijker commented on #418
You can get drafts back with the preview option. By default Apollo client will handle any error as a network error. You can change that behaviour so you can work with the results you get back. To configure apollo client read this:   https://www.apollographql.com/docs/react/data/error-handling/#error-policies.

[2020-10-29 12:23] pixelass commented on #418
@mvanduijker thank you for the link.
It seems like we have to set it on every query request though.
Maybe I overlooked the global option for this.

[2020-10-29 13:12] pixelass commented on #418
I found this: https://www.apollographql.com/docs/react/api/core/ApolloClient/#example-constructor-call

So it seems it can be globally added.

Closing since this should resolve the issue.

[2020-10-29 13:12] #418 closed

[2020-11-04 12:47] aelmeniawy opened #444 "The removeUnresolved flag unexpected behaviour"
Our application consumes Contentful with linked draft entries. We went for using the flag provided by the SDK `removeUnresolved` to filter out the problematic draft entries but it seemed to filter out more than what we wanted.

Sometimes we fetch entries using a certain depth in order just to fetch the sys property of the entry and not include the fields.

## Expected Behavior

When the flag `remo

[2020-11-04 13:10] dndrsn commented on #194
Experiencing the same issue.  A thing that is related to a thing that is related back to it.  Not an uncommon scenario.    Using 7.14.8.  Is there any known workaround?

[2020-11-04 15:21] dndrsn opened #445 "parseEntries "maximum call stack" error caused by circular references"
`parseEntries` fails when trying to parse items with circular references.

In my particular scenario I have an article content type that has references to "related articles" of the same content type.  If article A references article B and article B references article A, using `parseEntries` with either article will result in a `maximum call stack exceeded` type error.

This is related to other cir

[2020-11-09 11:14] TimBeyer commented on #445
Hey @dndrsn,
`parseEntries` is a method that is supposed to be used on the raw responses that come from the delivery API to resolve the references from the `includes` and turn everything into the correct JS objects that have references resolved.
The idea I suppose being that if you for whatever reason deal with data that has been fetched via the API directly instead of via the SDK - maybe dealing

[2020-11-09 11:25] TimBeyer commented on #439
Hi @AlexandraKlein
could it be that the `relatedPosts` contain circular references?
While `include: 3` only fetches three levels deep, if entries reference each other, they are linked together so a circular reference might look like infinite depths when logged.

[2020-11-09 13:11] TimBeyer commented on #424
Hi @cajoy,
this is a problem with how the underlying API works.
In order for you to search based on a field value, the API needs to know the content type to validate whether the field exists, and to scope the query correctly to that field of the entries of that content type.

The first query works because there is exactly one content type specified and thus the `industry` field can be resolved cor

[2020-11-09 13:33] dndrsn commented on #445
@TimBeyer thanks for the explanation.  Makes sense now.  Not exactly sure if the docs are unclear or I just misunderstood.  I think it might help to mention something about "data not retrieved via getEntries".

[2020-11-09 13:41] TimBeyer commented on #416
Hi @dancespiele,
this option does not exist in the JS SDK and is specifically for the `jekyll` importer.
Could you explain what you're trying to do?
The SDK has pagination options which should allow you to fetch all the data by paginating through it.
There's also https://github.com/contentful/contentful-export and https://github.com/contentful/contentful-import specifically for import and export u

[2020-11-09 16:46] AlexandraKlein commented on #439
@TimBeyer, yes, that is exactly what is happening. Certainly related posts will be linked to each other at some point. Still unclear how to stop relatedPosts data after 3 levels deep. I only require Related Posts of the fetched post.

[2020-11-09 19:07] AlexandraKlein commented on #439
Current solution is separating and implementing additional requests.
re: https://github.com/vercel/next.js/discussions/10992#discussioncomment-109197

[2020-11-10 12:37] TimBeyer commented on #439
From the thread it sounds like we can close the issue, correct?
Sadly there isn't really a way to stop circular dependencies after a certain level.
The entry objects that link to each other are always the same instances, so there is no way to break the cycle at some point.

Take for example a list of objects linking like this `A -> B -> C -> A -> B ...`.
The instance of `A` that links to `B` is th

[2020-11-10 12:38] #445 closed

[2020-11-10 15:51] AlexandraKlein commented on #439
I'm ok with closing this issue.

[2020-11-11 11:10] TimBeyer commented on #296
Could you try adding `sys.type` to the `select`?
I believe the entity lookup is indexed by a combination of `type` and `id` since you could have an entry and an asset with the same ID in the includes. Since the link objects have the type, but the entity objects don't, it won't resolve the links.
The reason why it works without doing a select on `sys` is that the SDK implicitly requests the full `s

[2020-11-11 11:13] #439 closed

[2020-11-20 01:01] maxlew commented on #386
I just ran into this today, It looks like this is a limitation on the actual Contentful API not an issue with the javascript SDK. I haven't seen it mentioned in any documentation, but it seems like all field queries don't handle fallback locales at all.

[2020-11-25 15:07] #408 closed

[2020-11-26 08:30] kevindoveton opened #489 "Contentful selling email addresses to spam operators"
## Context
I create a unique email address for each website I sign up for, since the 7th of October, 2020, I have received multiple emails from spam operators to the email address I used for Contentful. Is Contentful selling data to third parties, or has there been a data breach?

Example of spam emails

<img width="1236" alt="Screen Shot 2020-11-26 at 6 52 48 pm" src="https://user-images.githubus

[2020-11-30 15:45] TimBeyer commented on #444
Hi @aelmeniawy, I'm wondering if you encountered this bug when you did a `select: 'sys'` or if you actually selected a specific set of `sys` properties. In theory the filter should really only remove entities it cannot find and the `fields` property is not looked at. There's a different bug however that sometimes makes the SDK not resolve links correctly in case a subset of `sys` fields was used.

[2020-11-30 16:12] #296 closed

[2020-11-30 16:12] #430 closed

[2020-12-01 13:09] hajahim opened #495 "Graphql not support query batching"
When using apollo-link-batch-http, the contentful graphql endpoint return MISSING_QUERY

[2020-12-02 17:40] ahopkins94 commented on #319
Hi I am also having this issue but for `getEntries` also from a localhost request. It does not seem to be disappearing though so any help would be greatly appreciated

[2020-12-02 17:41] Ancinek commented on #319
@ahopkins94 I managed to resolve it (fully and reliably) only by creating an under the same domain that accesses the contentful, instead of accessing it directly from the browser.

[2020-12-02 18:02] ahopkins94 commented on #319
@Ancinek what was it you created under the same domain exactly?

[2020-12-03 14:07] TimBeyer commented on #444
@aelmeniawy could you check if the latest release also fixed your problem?

[2020-12-04 21:32] stefanjudis commented on #489
Contentful does not sell email addresses to spam operators. Privacy and security are top priorities at Contentful. For more information on our security practices, including our ISO 27001 compliance certificate, please visit our website: [www.contentful.com/security/](https://www.contentful.com/security/).  You can also find more information on Contentful's privacy practices on our website: [www.co

[2020-12-04 21:32] #489 closed

[2020-12-05 11:46] thomashagstrom commented on #96
@andreipfeiffer @Khaledgarbaya The workaround might include this in the TypeScript section:

[code]

[2020-12-06 10:06] thomashagstrom commented on #96
I still didn't get this to work properly and opted for REST calls and TypeScript types from `contentful` SDK @andreipfeiffer @Khaledgarbaya

[code]

[2020-12-07 08:08] jugglingthebits opened #503 "TypeError: query.select.split is not a function"
My team is seeing failures in the Contentful client since the update from 7.14.13 to 7.15.2.

## Actual Behavior

We're having numerous tests fail with the following error:

[code]

FYI Updating to 8.0.3 exhibits the same error
[code]

## Context

The client is breaking production code.

## Environment

-   **Language Version**: 12.20.0
-   **Operating System**: Docker image `cimg/node:12.20.0`
-

[2020-12-07 09:01] nenad-percic commented on #444
@TimBeyer @aelmeniawy is colleague of mine on the same project - version 7.15.1 is currently not testable for us due to #503 that we reported today. I will followup this as soon as it becomes actionable.

Thank you!

[2020-12-07 09:02] TimBeyer commented on #503
Could you share what you are passing as `query.select`?
We [fixed a bug with the select behavior in 7.15.1](https://github.com/contentful/contentful.js/pull/492) with the existing code indicating that the `select` option will always be a string.
Of course the querystring serializer might still take an array of strings there, and it seems we simply use the default [`qs.stringify`](https://github.co

[2020-12-07 09:18] jugglingthebits commented on #503
@TimBeyer We observe numerous different queries failing. Here is an example query (passed to `getEntries<T>(query?: any)`:
![grafik](https://user-images.githubusercontent.com/3235163/101332308-64e52500-3875-11eb-8aae-ef251e134432.png)

[2020-12-07 09:32] TimBeyer commented on #503
I see you actually passed an array then. Did that actually show the expected behavior?
According to the official docs that should not actually work.

[2020-12-07 09:43] TimBeyer commented on #503
In any case I think this should be a valid way of using the `select` operator since an array makes much more sense than a string with comma separated values, I'm mainly just wondering if the API actually accepted the payloads in a way that was not documented.

[2020-12-07 10:01] jugglingthebits commented on #503
Since this has been used in our project for a long time, I guess the answer is yes (for versions up to 7.14.13). I cannot tell *why* we're using the api this way though. Maybe it's just what we ended doing when experimenting with the api, since typings just use `any` and I can't see anything in the api docs how to properly do this.
If this api is not supported (and won't be soon), could you share

[2020-12-07 10:17] #503 closed

[2020-12-07 10:18] TimBeyer commented on #503
I added your use case to be officially supported so that all those also go through the correct select normalization procedure. The new version should be released in a few minutes.

[2020-12-07 10:44] TimBeyer commented on #444
Your use case should now work in https://github.com/contentful/contentful.js/releases/tag/v8.1.0

[2020-12-07 11:26] jugglingthebits commented on #503
@TimBeyer thank you for getting this resolved so quickly!

[2020-12-07 12:34] nenad-percic commented on #444
@TimBeyer That was unexpectedly quick release. :)

I wrote two [tests](https://prnt.sc/vxgzlx) that would cover our use-case and both of them are green! :)
Thank you very much!

[2020-12-07 14:12] #444 closed

[2020-12-08 19:06] Morialkar commented on #421
No fix yet? I just started using the SDK and it clearly says that it supports Node.js LTS (which node 12 is) and it blocks because of this. I don't want to move my whole backend back to node 10 just because you want to keep using undocumented  properties of node...

[2020-12-09 14:42] andersekdahl commented on #254
This was quite a bummer to find after just working on master and later adding environments and see things break. Any plans on adding snapshots to environments?

[2020-12-09 14:42] andersekdahl commented on #254
This was quite a bummer to find after just working on master and later adding environments and see things break. Any plans on adding snapshots to environments?

[2020-12-16 21:54] aatishnn commented on #135
I was running into this issue as well. Thanks!

[2020-12-17 15:31] DanielOrtel commented on #377
any word on this? We use immutableJS and store the data returned by `getEntries` in Redux, but immutable's `fromJS` breaks on circular dependencies completely. Sadly, there's no way atm to avoid immutable, so it'd be nice to have the option to make `getEntries` not circularly dependent.

[2020-12-19 18:24] angelod1as opened #536 "How to query array of references"
I have a document that references an array of documents:

[code]

How can I query documents with `tag-one`?

I tried querying using the following:

[code]
but it didn't work.

## Environment

-   **Language Version**: v10.19.0
-   **Package Manager Version**:  yarn 1.22.10
-   **Operating System**: Linux angelo-pop-os 5.8.0-7630-generic #32~1607010078~20.04~383a644-Ubuntu SMP Thu Dec 3 19:14:47 UT

[2020-12-22 15:31] robertsoniv commented on #194
I am experiencing this issue using version `^8.1.4`. Have a content type that references many of it's own content type, each of which can also reference many. Using the method `parseEntries` after getting all entries of said `content_type` (limit 1000).

[2020-12-23 12:22] axe312ger commented on #194
@matthew-contentful @TimBeyer I guess you should consider reopening this as people seem to still run into this issue

[2021-01-05 08:22] Cyberlane commented on #405
I had this exact same problem, so I opened a support ticket with the Contentful guys and they told me that it's a bug in their documentation. Their "full text search" is not "full text search".

In their own words it is "anchored search to the beginning of the string", or in more common terms "starts with, search".

[2021-01-05 19:43] gubo opened #545 "ERROR ReferenceError: regeneratorRuntime is not defined"
## Expected Behavior

Expect Contentful SDK in Angular 11 project to work against sample space.

## Actual Behavior

Browser throws error:
core.js:5967 ERROR ReferenceError: regeneratorRuntime is not defined
    at Object._getEntries (create-contentful-api.js:393)
    at Object.getEntries (create-contentful-api.js:371)
    at AppComponent.ngOnInit (app.component.ts:26)
    at callHook (core.js:248

[2021-01-06 08:17] marcolink commented on #495
Hi @hajahim,

Have you already raised this question in the [contentful community slack](https://www.contentful.com/slack/)?

[2021-01-06 08:25] marcolink commented on #428
Hi @asselin,

With version 8, we have removed most of the `cloneDeep` calls including those invoked in our own dependencies.
Thanks again for pointing it out!

I'll close this issue for now. Feel free to open it again.

[2021-01-06 08:25] #428 closed

[2021-01-07 08:44] joshmossas opened #549 "Axios @0.21.0 Security Vulnerability"
## Expected Behavior

Contentful.js shouldn't use vulnerable versions of npm dependencies

## Actual Behavior

Contentful.js is using Axios version 0.21.0 which has high severity vulnerability as seen here [https://www.npmjs.com/advisories/1594](https://www.npmjs.com/advisories/1594).

## Possible Solution

Upgrade Axios to version 0.21.1

## Steps to Reproduce

- Install the latest version of Con

[2021-01-07 08:47] joshmossas commented on #549
nvm I was using an old version carry on

[2021-01-07 08:47] #549 closed

[2021-01-11 16:49] adamchipperfield opened #553 "How can I disable the locale fallback using this package?"
## Expected Behavior
To set some sort of parameter to tell the client not the fall back to the default locale.

## Actual Behavior
No documented way to do this.

## Context
I just have a query where we don't want to fall back because of country specific content. So if no content is specified in French, for example, then nothing should be returned.

Note that this is just for a single query, so I d

[2021-01-11 20:53] ch-ivy commented on #545
I'm having this same issue with contentful, please any fix?????

[2021-01-12 12:58] pguso commented on #545
As a quick fix add the following two lines at the top of the app.component.ts file, you don't get an error anymore

    import "core-js/stable";
    import "regenerator-runtime/runtime";

[2021-01-15 07:18] marcolink commented on #440
Hi @David05500,

I'm sorry to hear you facing these issues.

Is this about typescript types, or a general issue you're facing with the structure of the data?

Have you already tried to use our [richtext-renderer](https://www.contentful.com/developers/docs/javascript/tutorials/rendering-contentful-rich-text-with-javascript/).

[2021-01-15 09:20] marcolink commented on #417
@pixelass
Thanks for reporting this.
I agree that type definitions for queries are not optimal right now.
There is an ongoing initiative to migrate this project fully to typescript.

I just opened a [PR](#563) for better query types. Feel free to comment!

[2021-01-19 15:37] mat-sf commented on #545
Any update on this?

[2021-01-20 06:11] pixelass commented on #417
Seems like the link to the PR was wrong .
Correct link: #563

[2021-01-20 08:22] marcolink commented on #417
@pixelass Ah sorry, you're right.
And thanks for posting the correct link 👍

[2021-01-20 09:24] phawxby opened #570 "Missing typing EntryLink"
## Expected Behavior

There appears to be no typing for a referenced field where `include=0`, IE this

[code]

## Actual Behavior

Expect a typing. I suppose technically RichTextDataTarget could be used, but that typing could be a bit confusing.

## Possible Solution

[code]

## Context

I provided my own, it just seems like a strange omission from the core SDK.

## Environment

contentful@^7.14.8

[2021-01-26 03:31] grahammatt commented on #545
I am continuing to experience this issue as well.

[2021-01-31 13:12] HerrBertling commented on #553
I have the exact same problem – how would I accomplish this?

I found this small part [in the documentation](https://www.contentful.com/developers/docs/tutorials/general/setting-locales/):

But I tried putting that into a `getEntries` request but that does not work:

[code]

[2021-02-01 21:14] rustyy commented on #545
Rolling back to 7.15.2 solves this as well.

Is it a more general issue? I'm able to reproduce this with a simple js file and webpack (see: https://github.com/rustyy/contentful-issue-545). Or am I missing something?

[2021-02-10 19:52] hugomn commented on #418
Hey, this issue is causing us some troubles, using GraphQL Api. I know we can filter or ignore the errors, but what about the `null` entries? For example when we have an entry with linked entries, and some of then are still in draft mode, we get something like this:

[code]

Which is very annoying and error-prone when we use indexing of the items to track order, for example. And as far as I unders

[2021-02-12 01:06] shedinnmarble commented on #400
I also have this problem using the latest version of API, Please fix it.

[2021-02-14 05:42] xeptore commented on #211
I found this link in the office doc helpful:
https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally

[2021-02-16 10:44] makinwab commented on #545
You can find out more about how to migrate from version 7.x.x [here](https://github.com/contentful/contentful.js/blob/master/MIGRATION.md#migration-from-contentfuljs-7x).
It touches on how to setup Regenerator Runtime for the browser.

[2021-02-18 19:41] juanbiberretta commented on #377
Same here, I'd for this to be at least looked at... We have to run out responses through a cycle remover on Gatsby otherwise it fails when trying to create pages.

[2021-02-22 20:47] VirMaker commented on #545
I'm running into 2 issue on migration from contentful 7.15.2 to 8.x.x:

[2021-02-23 16:28] marcolink commented on #545
Hello,

I made a new [PR](https://github.com/contentful/contentful.js/pull/625) addressing this problem. Once it's approved, I'll post an update here

[2021-02-23 16:59] VirMaker commented on #545
@marcolink thank you! Could you please clarify if your PR should also fix server side calls? I have bundled up client side and server side issues together but the more I think about those the more I'm questioning if those are related

[2021-02-23 17:28] marcolink commented on #545
Hi @VirMaker,

The PR addresses all issues related to bundling the library (especially the `regenerator-runtime` problem).
I expect it to work the same way as prior to version `8`.

I wonder what changed from [Changeset `8.0.0`...`8.0.1`](https://github.com/contentful/contentful.js/compare/v8.0.0...v8.0.1) that could make your build break. 🤔

[2021-02-23 18:07] VirMaker commented on #545
@marcolink, not sure. When using 8.0.0 I see regenerator-runtime error on the server and the client. With 8.0.1+ I no longer see this (or any other) errors on the server, only client, but server side contentful requests no longer complete before page is flushed to the client

[2021-02-26 01:35] princed commented on #435
A workaround for now:

[code]

[2021-03-01 11:40] marcolink commented on #545
A new version has been released https://github.com/contentful/contentful.js/releases/tag/v8.1.8

This version only expects the regeneratorRuntime for the legacy browser bundle.

I'll close the Issue for now. Please feel free to open it again if you detect any related issues.

[2021-03-01 11:40] #545 closed

[2021-03-01 11:46] marcolink commented on #435
@lukef the newly released version `8.1.8` should handle the browser case also for es modules.
Please let me know if this doesn't fix your problem!

[2021-03-01 11:46] #435 closed

[2021-03-01 15:19] VirMaker commented on #545
@marcolink, thanks you. Issue #1 (client side) is resolved, but I still experience issue #2 (server side):
_Server side contentful calls (Angular universal) no longer work (awaited?). The call is being executed but the page does not have those results. Looks like this issue was introduced in 8.0.1, works fine with 8.0.0;_
Does it make sense to open another issue for this?

[2021-03-02 19:15] VirMaker opened #642 "Contentful server side calls in angular universal are no longer awaited since version (8.0.1)"
Opening separate issue for server side rendering issue originally described [here](https://github.com/contentful/contentful.js/issues/545). On migration from contentful 7.15.2 to 8.1.8. server side (Angular universal) contentful calls no longer complete (awaited?). The call is being executed but the page does not have those results. Looks like this issue was introduced in 8.0.1, works fine with 8.

[2021-03-04 07:07] rrostt opened #647 "OutgoingMessage.prototype._headers is deprecated"
Contentful is using deprecated node apis when dealing with errors.

https://github.com/contentful/contentful.js/blob/38b2f8a73d7518d539b689bfac0732ed3e706232/lib/contentful.js#L106

https://nodejs.org/api/deprecations.html#DEP0066

Also, headers are already sent and can not be changed using setHeader without exception. Possible solution to strip the request object.

[2021-03-09 16:47] jackherizsmith opened #659 "Auto-generated slug not caught by unique validation"
## Expected Behavior

Validation should prevent auto-generated slugs in a content model from being duplicated when this field is required to be unique.

## Actual Behavior

Duplicate, auto-generated slugs are allowed if left untouched by the user, which effectively ensures bugs using the API.

## Possible Solution

Use the existing validation when there is user input, on auto-generation. Alternati

[2021-03-15 00:17] princed commented on #435
@marcolink Unfortunately https://github.com/contentful/contentful.js/pull/625 doesn't fix the problem.

So ES modules variant imports `contentful-sdk-core` directly, which is great. But the problem that `contentful-sdk-core` in its turn unconditionally imports Node.js builtins (`import { platform, release } from 'os'`) as mentioned in https://github.com/contentful/contentful-sdk-core/issues/58.

I

[2021-03-29 04:41] nagkumar commented on #243
I got this error when moving from webpack 4.x to webpack 5.x,

I have included     "os-browserify": "^0.3.0" as devDependencies in pakage.json and also included in webpack.config.js

[code]

[2021-03-29 18:02] mendrik commented on #324
in general there should be a way to customize which library one wants to use. some simple adapter for each library can be easily written, I for one would love to get it working with https://github.com/sindresorhus/got

[2021-03-29 19:37] ngnathan commented on #647
Anyone know if there's a way around this?  Trying to pull contentful data on the server side (with NextJS) using getStaticProps but this seems to be blocking for me on node 12.

[2021-04-08 15:31] florian-milky opened #695 "removeUnresolved Flag removes Link field"
## Expected Behavior

Similar to #444 I expect the removeUnresolved to only remove draft entries.
I tried tried latest version 8.2.1
I use `include` to fetch linked entries. At the level where includes stop, my field `internalRef` which is a link to another entry should be present:

`fields: { identifier: 'Link to homepage', internalRef: { sys: { type: 'Link', linkType: 'Entry', id: '2uuZHGPFnGBsR

[2021-04-12 08:10] florian-milky commented on #695
Note to Contentful team: I created at ticket in Contentful support, you may find additional information there

[2021-04-13 01:51] fbaba-nibtravel commented on #642
I'm experiencing a similar problem. I haven't read the code to check what's the cause but what we can see is that prior the upgrade (in our case, v8.2.1) the server-side calls are not completed before returning to the browser. This causes api calls on the client-side, thus defeating the purpose of the SSR.

Just FYI, as recommended by https://github.com/contentful/contentful.js/blob/master/ADVANCE

[2021-04-14 10:15] wangzuo commented on #324
I also prefer `fetch` since its implemented in web, worker and deno.

[2021-04-14 13:48] MickL commented on #324
I agree to @mendrik that contentful.js should use adapters. Axios should be one adapter and part of a separate package, then other adapters for fetch, or other http-clients, could easily be written.

[2021-04-15 07:02] wunt commented on #418
Is there any update on this issue? I am also affected by this issue which is really inconvenient.
I'd expect that Drafts/Unpublished Contents are complete ignored and not returned, if the "preview: false" parameter is set (=default), also for recursive content...

[2021-04-16 10:22] marcolink commented on #695
Hi @florian-milky 👋
Thanks for the feedback!

For the content Delivery API, `removeUnresolved` will remove all draft/unpublished entries from the response.
For the Preview API, `removeUnresolved` will still return draft/unpublished entries.

Based on that, the current behavior you described is expected.

Please let me know if I misunderstood your described scenario!

[2021-04-16 12:21] florian-milky commented on #695
Hi @marcolink , sorry I was unclear.
The linked entity I want to fetch is published. It reaches the level where because of `include` configuration it just returns the `id` of the entity and not the full one.
However the behavior I'm seeing is that with `removeUnresolved` set to `true` the field simply disappear. With `false` the field is there and I can manually fetch the entity that is not includ

[2021-04-19 14:56] ir2pid opened #710 "Subtitles not being pulled by the contentful js"
## Expected Behavior

We have titles and subtitles in our contentful form.
The form subtitles don't get pulled when we run the contentful js file.
Title and other form fields are getting pulled.

## Actual Behavior

Expect subtitles to appear.

![image](https://user-images.githubusercontent.com/907075/115256101-3898b980-a12f-11eb-95b9-d12432df5c70.png)

## Environment

-   **Language Version**: v1

[2021-04-20 12:57] #495 closed

[2021-04-22 07:23] 37108 opened #711 "add Metadata property in Entry interface"
## Expected Behavior
i try to get Contentful tag via metadata.
`getEntry` returns generic Entry interface and there is a metadata property.

[code]

## Actual Behavior
i got a "property does not exist" error.

[code]

## Possible Solution
add the new Metadata optional Property into Entry interface.

https://github.com/contentful/contentful.js/blob/38b2f8a73d7518d539b689bfac0732ed3e706232/index.d.t

[2021-04-24 20:34] RezaRahmati opened #721 ""The access token you sent could not be found or is invalid" for Preview Api Key"
## Expected Behavior
The client retrieve contents with no error

## Actual Behavior
The client return this error
[code]

## Possible Solution

## Steps to Reproduce
- Create a new space (I am using free tier)
- Create a sample content type and content
- Read contents by Delivery Api Key
- Confirm you are able to read content (empty array if content is in draft mode, and filled array when content i

[2021-04-26 15:58] Vinz93 commented on #695
Hi @florian-milky , I am sorry for the misunderstanding of the `removeUnresolved` flag,  I'll escalate this in order to provide a better explanation and some examples in our documentation, below I described how the flag works.

The `removeUnresolved` flag is mainly used when you need to remove unresolved links, they might appear when you reach a maximum level of nested related content (10 levels),

[2021-04-27 07:20] florian-milky commented on #695
That's true but there is a still a different behavior regarding unpublished content depending on `removeUnresolved`. See #350 for example.
So either I need you to fix that unexpected behavior, or I need to handle this case everywhere in the code (`fields` undefined) before I can turn `removeUnresolved` back to `false`

[2021-04-27 07:22] florian-milky commented on #695
In my case, it's when I reach the level specified by the `include` option.

[2021-05-03 09:03] florian-milky opened #734 "Protocol relative URLs"
When getting assets from contentful, their URLs don't have any protocol.
This is causing me an issue with loki and storybook (storybook is built statically, browser is opening local html, assets are fetched with `file://` instead of `http(s)://`).
Overall it seems like it's now rather discouraged to have protocol relative urls?

[2021-05-03 21:52] undrafted opened #735 "more advanced search query"
Hi, not sure if this feature is already available, if not please treat it as a feature request.

We have multiple projects where content pages get content based on the URL path treated as a slug/id (e.g. **/some-page**), and would fetch the content using **getEntries** passing **'some-page'** as a slug/id, but in a lot of cases people commit a typo on this field in the url. Is it possible to do a

[2021-05-05 16:44] smadan opened #739 "Delivery API JSON parser fails when two entries reference each other"
## Expected Behavior

Create entry A and entry B. Add a link to B in A and vice versa. Use the Contentful Javascript delivery API and call getEntries(). Observe JSON parsing error.

In particular, if you print out the response, you'll see entry A looks something like this:

{"content": [{"data": [Object], "marks": [Array], "nodeType": "text", "value": "Link to test post B"}], "data": {"target": {"

[2021-05-05 17:23] smadan commented on #739
Looks like this has come up multiple times before. Like some of the other folks that ran into this, I ended up using safe-json-stringify to get around the problem. Not a great solution because it adds an extra JSON parse step. Would love a better solution here.

[2021-05-14 16:54] jpsc opened #757 "Bundle size increased 30% from 8.2.0 to 8.2.1"
## Expected Behavior

I would expect, based on the [diff](https://github.com/contentful/contentful.js/compare/v8.2.0...v8.2.1) (and maybe on the minor) that the size would stay roughly the same.

## Actual Behavior

The bundle size increased without (apparent) improvements that would justify the size increase.

## Steps to Reproduce

Check on [bundlephobia](https://bundlephobia.com/result?p=conten

[2021-05-24 18:03] dkast commented on #721
I had the same issue, it seems that you have to define the host on your client connection

[code]

[2021-05-28 18:01] MarcoGlauser commented on #297
I encountered the same issue while working with SSR. After going through the sdk code for several hours, I managed to find a workaround.

So what happens is that `contentful-resolve-response` creates the circular references automatically when you call getEntries() or getEntry(). If you try to stringify the return value of one of those functions, you'll get the circular reference error.
You can dis

[2021-06-02 16:17] sankar9659 opened #782 "Is there any way to get content type's data (dropdown data)?"
Hi, I'm working on contentful to create blog posts.
I have created a field named with category with dropdown data, like the below image.
I have created more blogs for each categories (Ex: game has 5 blogs, Tour has 10 blogs and etc).
I want to show the list of all categories with content counts,
Is there any possible to get all of the categories with content count? ( I can get it by getting all bl

[2021-06-03 16:57] apopiidoru commented on #386
Any update on this?

[2021-06-10 08:21] marcus13371337 commented on #336
I'm having this issue as well. Unfortunately, I'm getting just one entry with a lot of references to other entries. What's weird is that I'm getting the response with no problem when I'm using the API directly.

[2021-06-10 08:43] marcus13371337 commented on #336
Did some investigation. It seems as `axios`, default size is 10Mb. However, this is fixed in `contentful-sdk-core` as they are setting that parameter to 1 GB in version `6.8.0` (https://github.com/contentful/contentful-sdk-core/commit/9c69b6c33b636d447fc90bd0fd02f72544cfefde).

Submitted a PR to bump this package

[2021-06-10 08:53] marcus13371337 commented on #336
Never mind,  `maxContentLength` should already be configurable!

[2021-06-11 13:55] TheJotob commented on #711
Hi. I'm running into the same issue. Is there any plan when this will be addressed, since we would really like to work with the new Tags-Feature but because of this issue it is currently not possible

[2021-06-15 12:37] ruderngespra commented on #711
Hey @37108 @TheJotob, thanks for reporting this! We added type support for metadata on entries and assets and hope that should fix the issue for you (https://github.com/contentful/contentful.js/commit/ddb4711f6e113b1e16ffc1961912e8b1c09c469c). Let me know if you still run into problems!

[2021-06-16 01:35] mbyrne00 opened #806 "Typescript: types do not include new tags api methods in 8.4.1"
## Expected Behavior
`getTag()` and `getTags()` functions exposed on `ContentfulClientApi` interface to match updated implementation.

## Actual Behavior
Functions missing ...

[code]

## Possible Solution
Update types

## Steps to Reproduce
Try to code-complete with typescript or view `index.d.ts`

## Context
Cannot use new tag functionality without `@ts-ignore`

## Environment
-   **Language Ver

[2021-06-16 09:30] #806 closed

[2021-06-17 07:49] #711 closed

[2021-06-18 03:23] Stupidism opened #809 "[Need help] images show download prompt when browser not supporting webp"
## Expected Behavior

Fallback to the default format if the client browser doesn't support `webp` like [what nextjs does](https://nextjs.org/docs/basic-features/image-optimization).

## Actual Behavior

Because [safari browsers doesn't support](https://caniuse.com/webp)

![image](https://user-images.githubusercontent.com/5801015/122501216-d40eb380-d026-11eb-94ad-8a0d51c3ad9d.png)

It shows a downl

[2021-06-24 16:18] Mouaz opened #818 "[FEATURE REQUEST] Dark mode and user appearance preferences"
## Expected Behavior

Under user icon top right side, a section for preferences to be added

## Actual Behavior

No preferences settings

## Possible Solution

Adding more customisation for each user through preferences

## Context

Just switching between dark and light themes sucks, so I'd love to have Contentful to have dark theme too

[2021-07-01 19:31] cameron-quad commented on #339
Might be related, just started looking into this issue from our logs. Seems to occur after `getEntries` call as well usually around an unresolved call -- seen it after a timeout, but not always using:   "contentful": "^7.14.0", react-native, ios only

TypeError Properties can only be defined on Objects.
called from (according to my trace)
`/Users/buildagent/myagent/_work/3/s/node_modules/contentfu

[2021-07-07 05:24] lucashfreitas commented on #418
I am having the same issue - it's strange - why the graphql api returns NULL fields in draft items instead of just not returning them? Since we have preview tokens for that purposes it seems like a bug? @pixelass

As @hugomn mentioned a lot of my queries are also returning this data structure:

[code]

So I am having to do a lot of `data.filter(x=>x)` as a workaround for this issue.

@hugomn did y

[2021-07-09 18:03] PatrickRNG opened #831 "UnknownField Error when trying to order the entries by a field 'publishedDate'"
I'm trying to order by a field `publishedDate`, but it just returns an error saying `UnknownField`.
This field is working fine, just ordering by it gives an error. Ordering by other fields like `title` works.

The `publishedDate` is a Date and Time type.

## Expected Behavior

Should order by the `publishedDate` field.

## Actual Behavior

Returns this error

[code]

## Steps to Reproduce

My code

[2021-07-12 17:47] JessicaBernes commented on #137
Hi guys, same for me.
When I created an entry I got the following error...

../../../.././lib/**python3.7**/site-packages/contentful_management/resource.py:417: in publish
    **headers=self._update_headers()**

../../../.././site-packages/contentful_management/client.py:789: in _put
    **return self._request('put', url, attributes, **kwargs)**

error = UnprocessableEntityError("HTTP status code:

[2021-07-16 08:46] gromovich opened #833 "Transpile into ECMAScript Module"
## Expected Behavior

Transpile contentful.js into ECMAScript module.

## Actual Behavior

contentful.js is transpiled into CommonJS module.

## Context

I'm using your library in an [Angular](https://github.com/angular/angular) project and it outputs warning when I try to build it:

[code]

You can find more information here:

[Configuring CommonJS dependencies](https://angular.io/guide/build#con

[2021-07-23 08:11] paimon0715 opened #842 "A vulnerability introduced by package axios"
Hi, @marcolink @ruderngespra, I'd like to report a vulnerability introduced in your package **contentful**:
### Issue Description
I find that there is a vulnerability [**CVE-2020-28168**](https://snyk.io/vuln/SNYK-JS-AXIOS-1038255) detected in package **axios<0.21.1**. Unfortunately, axios@0.20.0 is directly referenced by **_contentful@7.15.2_**.

   As far as I know, contentful's popular previous

[2021-07-23 08:44] pepijnverburg commented on #418
We are also hitting this issue, would be great if somehow it is possible to pass `removeUnresolved` via a custom header to apply for all queries? Or add it as a query arguments like the `preview` flag?

Filtering out errors and then also the null references is a temporary solution, but for sure not a pretty one. Let us know if there are any other options!

[2021-08-31 15:23] contentful-ecosystem-bot opened #864 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure y

[2021-09-01 07:16] marcolink commented on #435
@lukef @princed
A new fix to the problem has been released! Please try version [8.5.1](https://github.com/contentful/contentful.js/releases/tag/v8.5.1). it's currently only on the `next` channel.

[code]

[2021-09-01 22:54] lmf-git commented on #405
Awful. This is a deal-breaker if you expect decent searching.

[2021-09-02 10:20] #864 closed

[2021-09-02 20:01] dreysolano commented on #422
I'm seeing these errors as well, but supposedly the "user-agent" error was fixed back in 2016: https://github.com/contentful/contentful.js/issues/56

Any plans to resolve this?

[2021-09-07 17:01] mferryRV commented on #647
Same issue on Node 16

[2021-09-07 18:57] Fedeorlandau commented on #833
Same thing to get this working with svelte kit https://github.com/sveltejs/kit/issues/928

[2021-09-09 13:47] makinwab commented on #647
Fixed by #648

[2021-09-09 13:47] #647 closed

[2021-09-10 12:11] pako-grape commented on #842
Version 0.21.1 has a new vulnerability: [CVE-2021-3749](https://snyk.io/vuln/SNYK-JAVA-ORGWEBJARSBOWERGITHUBAXIOS-1579271).
Could you upgrade to 0.21.4?

[2021-09-12 21:48] lmf-git commented on #333
Disappointing. How is this getting swept under the rug over and over again?

[2021-09-13 09:48] marcolink commented on #333
Hi @JavRok,

Did you try out [tags](https://www.contentful.com/help/tags/) already?

[2021-09-13 11:15] javier-eriks commented on #333
Hi, no I didn't, not sure if this was available when I posted this 2 years ago...

I'm not working on Contenful anymore, but good to know, thanks. It seems this solves the problem specifically for Tags, since it says multiple tags can be used to filter, but this problem still exists for other custom entities, right?

Cheers

[2021-09-13 11:17] JavRok commented on #333
Hi, no I didn't, not sure if this was available when I posted this 2 years ago...

I'm not working on Contenful anymore, but good to know, thanks. It seems this solves the problem specifically for Tags, since it says multiple tags can be used to filter, but this problem still exists for other custom entities, right?

Cheers

[2021-09-16 14:58] marcolink commented on #422
Hi @DmitriyLitvinov @dreysolano,
this has been addressed lately.
Please update your dependency to >= [v8.5.7](https://github.com/contentful/contentful.js/releases/tag/v8.5.7)

[2021-09-16 17:57] dreysolano commented on #422
@marcolink - I just upgraded to `contentful@9.0.0` and I'm still seeing these 2 errors in the console.

[2021-09-27 02:15] princed commented on #435
I've just updated to `9.0.0`, works like a charm. Thank you @marcolink!

[2021-09-27 23:24] DerekLoop commented on #377
Bump? 😊

[2021-09-29 00:58] mat-jaworski commented on #757
It's even worse with version 9.0.0 – it's 317% bigger than 8.2.0. What happened there?

[2021-09-29 15:42] angelmeraz opened #917 "Contentful.js doesn't work with ESM bundlers"
## Expected Behavior
Contentful.js SDK works with ESM bundlers.

## Actual Behavior
Getting `undefined` when importing `contentful` package.

`import contentful from 'contentful';`

## Steps to Reproduce
1. Start new SvelteKit project https://kit.svelte.dev
2. Add contentful: `npm i -D contentful`
3. Import it somewhere in your app: `import contentful from 'contentful';`

## Environment

-   **Lan

[2021-10-02 18:13] filsuck commented on #917
If you look at dist folder there is es-modules, try changing import contentful from 'contentful' to this one.

[code]

[2021-10-04 08:40] angelmeraz commented on #917
`import * as contentful from 'contentful';`
and
`import { createClient } from 'contentful';`

... seem to work!

[2021-10-04 08:40] #917 closed

[2021-10-11 02:17] gregorvand opened #938 "p-throttle export error preventing usage"
I am using prescribed ES6 usage with the latest build, so:

[code]

However getting this webpack error:

[code]

Is this known / any workarounds?

[2021-10-21 00:59] gregorvand commented on #938
likely local build issue

[2021-10-21 00:59] #938 closed

[2021-10-21 16:03] mbernardes19 opened #954 "Intermittent bug when trying to paginate through entries from a content type"
## Context
Hey! I'm currently trying to make a search on my website that queries some entries of a specific content type on Contentful using pagination. I'm using the term "pancakes" to search for the entries and I use the `[match]` operator on a text field to find them. **I made that query manually on Contentful's dashboard first and I got 10 entries (9 are published and 1 is a draft).**

This is

[2021-10-22 05:59] Bepoe811 opened #956 "@axe312ger maybe check for drafts etc"
@axe312ger maybe check for drafts etc

_Originally posted by @Khaledgarbaya in https://github.com/contentful/contentful.js/issues/93#issuecomment-311288059_

[2021-10-22 08:53] #956 closed, assigned to nobody

[2021-11-01 22:06] hsheikhali1 opened #972 "[QUESTION] - How to work with sync api and typescript?"
## Expected Behavior
We've decided to switch from the `.getEntries` api and are now going with the sync api. The data structure returned is similar to `.getEntries`

## Actual Behavior
All fields are returned with their key as the locale ("en-US" etc..) and then the value.. making it kind of hard to parse with typescript...

*NOTE* I know this is intended, just want to know if there are any typesc

[2021-11-03 16:53] mbernardes19 commented on #954
Any opinion on this?

[2021-11-04 15:32] marcolink commented on #954
Hi @mbernardes19,

it's hard to tell what causes this error with such. an outdated stack! But since your local setup with the latest versions is not showing the bug, I assume it's related to your environment. Is `5.1.3` the newest version you can use on your prod server?

[2021-11-08 09:01] benwinding opened #982 "The "Sys" type doesn't show the `updatedBy` or `publishedBy` fields"
## Context

- Using latest npm package: `contentful` version `9.1.4`
- API docs reference: https://www.contentful.com/developers/docs/references/content-management-api/#/reference/entries/entry/get-a-single-entry/console
- ![image](https://user-images.githubusercontent.com/11782590/140713192-33081301-e38b-4f1e-9899-586abbde08ee.png)

## Expected Behavior

According to the API docs,  shouldn't the

[2021-11-15 01:12] Especially commented on #327
Agreed this should be something that we can add to the recursive requests when syncing, in our specific case we're using the sync api to reduce rate limiting, if the deltas provided to us fail to resolve our links, it breaks the logic of storing data in an additional middle layer.

[2021-11-16 20:16] sometimescasey commented on #418
Just adding a quick note to myself and others in future that if you are following the Contentful tutorial for basic setup with React, and you're using the prepopulated Contentful example blog, the 3 example blog posts are connected to Hero images which are set to DRAFT and will therefore result in this error.

![image](https://user-images.githubusercontent.com/16248601/142059071-9c0ed4e6-1fdb-45e8

[2021-11-18 22:08] harleyharl commented on #982
I'm also wondering why some properties are missing. I want to access the "version" property, but these are the only properties I can access:

![Screen Shot 2021-11-19 at 11 03 57 AM](https://user-images.githubusercontent.com/33185785/142504593-ac42da0e-c1cc-4053-8bb7-b0842c3cdbb1.png)

[2021-11-21 20:24] harleyharl commented on #418
I'm also having this exact problem. I'm not using Apollo as my GraphQL client so I don't have the option to `removeUnresolved`. I'm using [graphql-request](https://github.com/prisma-labs/graphql-request#error-handling). Filtering out draft content in the front end doesn't work!

[2021-11-22 10:20] pepijnverburg commented on #418
@harleyharl The nice thing is that you receive a quite extensive GraphQL error from Contentful where it specifies all the JSON paths where there is unresolved content. You can loop through those errors one-by-one and remove them from the data JSON. After you removed them you can also remove the error from the GraphQL response (you sort of 'fixed' the error). Yes, I know this is **not good practise

[2021-11-30 18:26] grantglidewell opened #1000 "getEntries behaves unpredictably based on request options"
## Expected Behavior

If `getEntries` returns a `page` when requesting all pages in a locale, then `getEntries` should return the same `page` if I request the `slug` that is returned from the initial request.

## Actual Behavior

`getEntries` will return nothing if the field I use to filter the requests (slug in this case) is using a fallback value
[code]

## Possible Solution

I believe this expo

[2021-12-09 23:02] penx opened #1005 "Only return specific fields for linked items of a given type"
Is it possible to specify a select operator (or similar) for linked items?

Say I have a structure:

[code]

i.e. navigation can be nested, or link to pages.

I want to get a certain NavItem, and all it's child NavItems and their child NavItems, but when a Page is linked I don't want to retrieve the entire contents of Page (and the Page's linked items), just the Page.slug.

Or would I have to use

[2021-12-17 14:05] marcolink commented on #417
Closing this issue for now.

[2021-12-17 14:05] #417 closed

[2022-01-04 22:56] igierard commented on #400
I am also experiencing this issue.

This does not match the behavior specified in https://www.contentful.com/developers/docs/javascript/tutorials/using-the-sync-api-with-js/

[2022-01-04 23:14] igierard commented on #400
After digging into the code more it seems that this is a case where the docs are not complete. The library is, in fact, limiting each request to the limit count. However, it is automatically performing multiple requests to fetch the next page behind the scenes for you. You can prevent this behavior by passing a second config object to the sync command with the paginate key set to false.

[code]

[2022-01-19 16:59] alextiley commented on #442
Looks like this was raised a while back but came across this issue whilst searching for a problem that I am also encountering.

In our case we have editors who link assets to content and then later unpublish those assets. This results in the content API returning a payload structure where the asset's `fields` property is `undefined`, and not required as per the typings:

Example response from cont

[2022-01-20 15:37] #93 closed

[2022-01-24 18:53] michelle-kinsa opened #1056 "Entry interface - fields key typed incorrectly"
https://github.com/contentful/contentful.js/blob/fc8ed50ea6091b0afc2ba69c54a2be0232c480ed/index.d.ts#L86

When you have unpublished content, Contentful still returns the shell of the draft of the content, but not the `fields` object. Should the `fields` key on the Entry interface be `fields?: T;`

We understand that it's an interface. So, theoretically, we could open the interface and augment it.

[2022-01-25 09:22] adelindanaila commented on #1005
Use `select` parameter.
https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters/select-operator/query-entries/console/js

[2022-02-07 15:54] einarpersson commented on #917
For me

[code]

[code]

[2022-02-08 08:48] dipsaus9 commented on #422
Any update on this?

[2022-02-11 08:56] #842 closed

[2022-02-11 08:59] #818 closed

[2022-02-11 19:48] magnattic commented on #442
We have a similar issue. When you have two languages with no language fallback and only upload the Asset in one language, `fields.file` can be `undefined`. But TS doesn't warn us because the types don't reflect this.

[2022-02-15 17:39] dreysolano commented on #422
@marcolink - It's been 5 months since I last commented on this, and I'm still seeing these 2 errors even after upgrading to the latest v9.1.10. Any plans to resolve these errors?

I'm a bit confused as to why this hasn't been resolved somewhere in the last 16 releases since v8.5.7. Please advise.

[2022-02-22 19:11] jwugit commented on #336
was this merged or something is missing,
i'm seeing the package for contentful-sdk-core is at v7
but im still encountering the same error

[code]

[2022-02-23 08:26] marcolink commented on #333
Closing this for now.
If you have more feature requests, please post them in the [community slack](contentful-community.slack.com
) for visibility ✌️

[2022-02-23 08:26] #333 closed

[2022-02-23 08:29] marcolink commented on #361
Hi @mtalhadev,

We have removed all native node dependencies. If this error occurs again, feel free to re-open this issue or open a new one.

[2022-02-23 08:29] #361 closed

[2022-02-23 08:32] marcolink commented on #406
@unixisking please feel free to create a PR for the fix.
For the upcoming version `10.0.0` we have already revised all doc files 😎

[2022-02-23 08:32] #406 closed

[2022-02-23 08:34] marcolink commented on #659
Hi @jackherizsmith,
Thanks for reporting this. It would be great if you could re-post this issue on the [community slack](contentful-community.slack.com
) for visibility. This repo is mainly focused on the content delivery API.

[2022-02-23 08:34] #659 closed

[2022-02-23 08:36] marcolink commented on #412
Hi @axe312ger,

Thanks for your sharp eye 🦅  and reporting this - We already double-checked with our latest version and it seems provided again. 🙌

[2022-02-23 08:36] #412 closed

[2022-02-23 08:42] marcolink commented on #710
Hi @ir2pid 👋

Sorry for the late response, would you be able to provide some code for your exact request? Also, have you tried to trigger a direct API call to compare responses?

[2022-02-23 08:57] GilFewster commented on #422
Same issue here with v9.1.10

[2022-02-23 09:01] marcolink commented on #782
Hi @sankar9659 👋
I think you found the best solution on the REST API already. I can imagine that you can achieve such queries with our [GraphQL API](https://www.contentful.com/developers/docs/references/graphql/). closing this for now, but please feel free to re-open it again, or post the question in the [community slack](contentful-community.slack.com
) for visibility.

[2022-02-23 09:01] #782 closed

[2022-02-23 09:03] marcolink commented on #1005
Hi @penx 👋

As @adelindanaila already mentioned, `select` is your friend :)

[2022-02-23 09:03] #1005 closed

[2022-02-23 09:08] penx commented on #1005
Hi @marcolink, please could you reopen this?

I'm aware of the select operator, that's why I referenced it in the question "specify a select operator".

I would like to be able to use the use it for linked items, as described above.

[2022-02-23 09:21] marcolink commented on #1005
Ok, I think I now understand what you're trying to achieve. One limitation of the rest API is, that you can only select specific fields, if you provide a single content type. What you describe is a response with mixed content types `NavItem` and `Page`.

I recommend looking into the GraphQL API (as you already mentioned). You might also want to post your requirements in the [community slack](conte

[2022-02-23 10:22] marcolink commented on #734
Hi @florian-milky 👋
providing these URLs without protocol has been [identified](https://www.paulirish.com/2010/the-protocol-relative-url/) as good practice. I think the challenge you're facing here might be due to the fact that your storybook is not served, but just loaded from the file system. You can either prepend the protocol manually or serve your storybook using something like [serve](https:

[2022-02-23 10:22] #734 closed

[2022-02-23 10:44] marcolink commented on #424
Closing this for now. Please feel free to re-open it again. Also, the [community slack](contentful-community.slack.com
) is always a good place to ask general questions to our CDA API.

[2022-02-23 10:44] #424 closed

[2022-02-28 00:47] tortuc opened #1132 "How to use Previews api in React?"

[2022-02-28 15:56] ankhuve commented on #422
Experiencing the same issue with v9.1.12. I dug into the stack trace and found out that the reason I'm getting this message is because of Contentful's `isNode` function:
[code]
When this function evaluates to `true`, the `user-agent` and `Accept-Enconding` headers are set.

Normally, this shouldn't be a problem, however in edge cases you might have your client side JS polyfilled to use node-only p

[2022-03-02 16:06] dreysolano commented on #422
@ankhuve - injecting the `browser` property on `process` as you described did the trick for us. Thank you for taking the time to dig into this!

[2022-03-02 16:56] gibex commented on #831
Hi,

I have the same issue, did you solve it?

thanks

[2022-03-03 18:34] nomatter2challenge commented on #336
Same here.

[2022-03-06 22:56] itsjavi commented on #721
I think the client should have a `preview: boolean` flag instead of the developers having to define the host,
which is very inconvenient and it's not even referenced in the docs.

[2022-03-08 10:33] bacpac opened #1145 "DefaultValue en export file blocks import, while locale is explicitly skipped"
## Behavior

When using `contentful space import`, default values in the export get set to a locale, even when the value has been set not to be translatable.

`        {
          "id": "searchbar",
          "name": "Searchbar",
          "type": "Boolean",
          "localized": false,
          "required": true,
          "validations": [
          ],
          "defaultValue": {
            "nl

[2022-03-09 07:48] marcolink commented on #1132
Hi @tortuc :wave:
There is a [section](https://github.com/contentful/contentful.js#using-this-library-with-the-preview-api) in the README.
You have to provide a preview token and the preview host.

[2022-03-11 02:38] jwugit commented on #336
for anyone looking into this in the future,
it might be due to contentful technical limits.
![image](https://user-images.githubusercontent.com/28541026/157791576-bf9f2477-293a-48f8-90cd-195d9964338a.png)

https://www.contentful.com/developers/docs/technical-limits/

[2022-03-14 08:25] marcolink commented on #289
@r3plica
You should be able to define your custom (angular) axios adapter when creating the contentful client. ([see here](https://github.com/contentful/contentful.js/blob/master/ADVANCED.md#angular-universal))

[2022-03-14 08:25] #289 closed

[2022-03-14 08:30] marcolink commented on #308
@Xaz16 👋
The error should not happen anymore. There was a missing check in the sdk-core package.

[2022-03-14 08:33] marcolink commented on #416
Closing for now as there hasn't been a response for a while now. Please feel free to re-open it ✌️

[2022-03-14 08:33] #416 closed

[2022-03-16 09:32] EliseiNicolae opened #1165 "[ERROR] Status: 404 - Not Found - Message: The resource could not be found. - Request ID"
## Expected Behavior
No error 😄

## Actual Behavior
I got this error when I was trying to setup the cms-contentful vercel example:
` [ERROR] Status: 404 - Not Found - Message: The resource could not be found. - Request ID`

Github repo: https://github.com/vercel/next.js/tree/canary/examples/cms-contentful
Tutorial: https://www.youtube.com/watch?v=S-NsDgoaCTo&t=395s

## Possible Solution

## Steps

[2022-03-17 03:08] Techn1x opened #1170 "Ordering based on reference/linked fields"
I've skipped the standard bug/issue template because this is more of a question rather than a bug and the fields didn't seem relevant. Please let me know if I should fill it out.

---

We have a content model `lessonPreview` that links to a single `lessonData` entry. That entry contains various fields about a lesson, including an `activityNumber` field and `precinct` field.

We would like to shape

[2022-03-17 12:41] gibex commented on #1170
Not possible.

`Collection Order
The GraphQL Content API allows users to specify the fields and direction to sort on root collection queries.`

[2022-03-17 12:52] gibex commented on #1000
I opened a ticket with a similar issue.

[2022-03-18 00:36] Techn1x commented on #1170
Would you mind linking me to where that sentence comes from? thanks. I'm not using graphql but I assume the same applies.

Feels like this would be a very useful feature of the API

[2022-03-18 09:21] gibex commented on #1170
Sure, I hit on same issue when using rest API and trying to sort by compose pages

https://www.contentful.com/developers/docs/references/graphql/#/reference/collection-order

[2022-03-21 02:41] Gullinkambi-Whip opened #1179 "How do I get the tag ID and tag name of the Tags set on the content?"
I would like to get the ID and name of the Tag set in the Tags tab of Content on the article page.

I am using Next.js and I am getting the article data in ```getStaticProps``` as follows.
[code]

I was able to get the list of tags set in the article from this ```articleData```, as well as the id, but it did not include the tag name.

![meta](https://user-images.githubusercontent.com/78286433/1591

[2022-03-23 11:46] sjwarner-bv opened #1181 "Getting entries with query param `links_to_asset` only works for published entries."
Hi all, dropping this here as a general question - though happy to be directed to support if you think it is too specific or need examples using my content.

I'm doing something roughly like:

[code]

to try and find out which entries are linked to my different asset, just like the sidebar in the Contentful UI shows me.

## Expected Behavior
I'd expect this to mimic what I see in the Contentful si

[2022-03-23 12:08] sjwarner-bv commented on #1181
Closing this - silly mistake on my part, of course the `Delivery` API is only concerned with published content - I can do exactly what I was doing using the `Management` API and I get the expected output.

[2022-03-23 12:08] #1181 closed

[2022-03-24 04:56] Techn1x commented on #1170
closing - issue has run its course. thanks for the info

[2022-03-24 04:56] #1170 closed

[2022-03-24 14:49] EliseiNicolae opened #1183 "[Custom-App] Brave/Adblock are blocking the iframe."
## Actual Behavior
<img width="1916" alt="image" src="https://user-images.githubusercontent.com/43387542/159942678-be73789e-3b39-4835-84c6-70f60894b362.png">

## Possible Solution
Maybe we can show an error on the DOM:
 If you want to edit this iFrame you need to disable the ad-blocker.

## Steps to Reproduce

1. Open brave.
2. Add a new custom app.

## Context

## Environment

-   **Language Vers

[2022-04-01 06:43] RavenHursT opened #1189 "Type for Sys missing archived Entry fields"
## Expected Behavior

Referencing fields for archived entries shouldn't result in a TypeScript compilation error

## Actual Behavior

Archived entry fields are missing from type declaration, so TS errors abound when dealing w/ these fields

## Possible Solution

Add archived entry fields to `Sys` type definition

## Steps to Reproduce

[code]

## Context

I'm trying to consume entry events from a

[2022-04-01 07:35] RavenHursT commented on #1189
I've been able to overcome this limitation for the time being with the following work-around:

[code]

[2022-04-01 12:02] notbear opened #1190 "Missing Snapshots API"
Getting error while trying to fetch snapshots or single snapshot/revision from existing content entry.

## Expected Behavior

According to [documentation](https://www.contentful.com/developers/docs/references/content-management-api/#/reference/snapshots/entry-snapshots-collection/get-all-snapshots-of-an-entry/console/js) the SDK should return a list of items reflecting the previously published ver

[2022-04-01 14:07] marcolink commented on #1183
Hi @EliseiNicolae,
could you please post your bug in the [contentful community slack](https://www.contentful.com/slack/) as this repo is only for the javascript CDA library? This will make the problem visible to the right teams.

[2022-04-01 16:12] grantglidewell commented on #1000
Ive recently run into a similar symptom of what I believe is the root cause of this. In some scenarios fallback values in field level localization enabled spaces do not populate. This can be replicated if you create a space with field level localization, create a content type with a field that is not localizable, create content, change the field in the content type to enable localization, observe

[2022-04-04 09:10] marcolink commented on #1132
closing this for now

[2022-04-04 09:10] #1132 closed

[2022-04-07 15:02] mattbatman commented on #938
@gregorvand I think we're hitting the exact same issue you did. We're trying to build with React on Rails, which I think uses webpack. Did you have an advice? Do you remember what you did to get around this?

[2022-04-13 18:03] maapteh commented on #377
https://raw.githubusercontent.com/contentful/contentful-resolve-response/master/README.md
the lib states: `Circular references are possible, still!!`

This is the first CMS where i will be very happy when the client ditches it. Who wants to use ten of their libs and still finding out it creates circulair dependencies. So on a FAQ pointing to another link on same page, you can't. As storage all thi

[2022-04-15 19:34] maapteh commented on #377
Yes, so my cullprit was everywhere where i used FreeText component. For the 'entry-hyperlink' im patching these to only include the title, link/slug and pass these back instead of a possible while data model of the page it links to. Hope this helps others!

[2022-04-20 20:59] lancegliser opened #1222 "Enhancement: getEntries and getEntry query suggestions based on well known search parameters"
The current client provides this interface:
[code]

The documentation for [search parameters](https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters) provides some well known values, such as `limit` and `skip`.

Even a minimal redefinition by developers wrapping that can provide users with helpful defaults while maintaining flexability:

[code]

##

[2022-04-21 09:16] andreascful commented on #377
Thank you @maapteh for providing your solution.
I'm closing this issue for now since it seems that there are solutions and/or workarounds for this issue given in the thread.
If anything pops up again we can definitely open it up again.

[2022-04-21 09:16] #377 closed

[2022-04-26 06:44] marcolink commented on #1222
Hey @lancegliser,
To address all these enhancements, we have completely rewritten the client in Typescript.

You can check it out on [npm](https://www.npmjs.com/package/contentful) under the beta-v10 tag (go to the "Versions" tab to find it). The [migration guide](https://github.com/contentful/contentful.js/blob/beta-v10/MIGRATION.md#migration-to-contentfuljs-10x) and updated v10 [README](https://

[2022-04-26 18:58] lancegliser commented on #1222
I am giddy with anticipation. It's so pretty! 🤩

[2022-04-26 18:58] #1222 closed

[2022-04-26 20:22] thiagorossener opened #1233 "Contentful.js doesn't work with Nuxt3"
## Expected Behavior

Contentful.js SDK works with Nuxt3 when building for production.

## Actual Behavior

When creating a plugin to use Contentful:
[code]

It works fine locally when running `npm run dev`.

However, when building for production, this happens:
[code]

## Steps to Reproduce

1. Create an entry with a "title" field in Contentful.
2. Create a project using Nuxt3:
```npx nuxi init nu

[2022-04-27 13:25] marcolink commented on #982
Hi @benwinding, @harleyharl

the fields you're referencing, are only available on the contentful management API. This library is only consuming data from the contentful delivery API, and therefore exposing a subset of the data.

[2022-04-27 13:25] #982 closed

[2022-04-27 13:31] marcolink commented on #399
Hi @wil93

we have rewritten the whole project from scratch in typescript for better type support.

You can check it out on [npm](https://www.npmjs.com/package/contentful) under the beta-v10 tag (go to the "Versions" tab to find it). The [migration guide](https://github.com/contentful/contentful.js/blob/beta-v10/MIGRATION.md#migration-to-contentfuljs-10x) and updated v10 [README](https://github.co

[2022-04-27 13:31] #399 closed

[2022-04-27 13:34] #442 closed

[2022-04-27 13:36] #570 closed

[2022-04-27 14:07] magnattic commented on #442
If I read this correctly this still leaves the problem mentioned above: The typings don't always reflecting what's going on during runtime:
- If there is no language fallback defined, `asset.file` can be `undefined` if the image was only uploaded in one language. But in the typings it's not optional:

[code]

[2022-04-27 14:29] magnattic commented on #442
Yes, I'll open one as soon as possible.

While I have your attention: Under all of this is actually one of the biggest problems our company has with Contentful (which we love).
The fact that the language fallback is "all or nothing" is really making things hard on our end.

- We want automatic language fallback for all images/assets, since most of our images are not language specific.
- We don't w

[2022-04-27 14:53] marcolink commented on #442
@magnattic Thanks for your feedback,
I will forward it to our product team!

May I also suggest our [community slack](https://www.contentful.com/slack/) for such requests? Questions that are more intended for product teams are more visible to them.

Best
Marco

[2022-04-27 15:29] marcolink commented on #1190
Hey @notbear 👋

Snapshots only exist on the content management API.

We have a separate client for it:
https://github.com/contentful/contentful-management.js

cheers
Marco

[2022-04-27 15:29] #1190 closed

[2022-04-27 18:26] NWRichmond opened #1237 "[beta-v10] The type for `metadata.tags` doesn't match data returned by the `getEntry` method"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `contentful@10.0.0-beta-v10.5` for the project I'm working on.

The [`Metadata`](https://github.com/contentful/contentful.js/blob/beta-v10/lib/types/metadata.ts) type's `tags` property appears to be missing a `sys` property that's in the client response.

The type

[2022-04-28 06:36] nalgritz commented on #344
Hello all, I'm developing gatsby in accessing multiple contentful environements. Does anyone have update on it?

[2022-04-28 12:45] marcolink commented on #1237
Hi @NWRichmond 👋

thanks for reporting this 🎉
Would [this PR](https://github.com/contentful/contentful.js/pull/1240) solve the issue from your perspective?

[2022-04-28 12:46] marcolink commented on #442
@magnattic

created a PR to also address this issue: https://github.com/contentful/contentful.js/pull/1240

[2022-04-29 08:04] marcolink commented on #1237
A fix has been released: https://github.com/contentful/contentful.js/releases/tag/v10.0.0-beta-v10.6

[2022-04-29 08:04] #1237 closed

[2022-04-29 13:39] marcolink commented on #1179
Hi @Gullinkambi-Whip 👋

Both scenarios you described are working for such cases. There is currently no way to filter tags on the tags collection endpoint.  For now, the most straightforward solution is to fetch all tags once and filter with your tag ids.

Best
Marco

[2022-04-29 13:39] #1179 closed

[2022-04-29 13:52] #284 closed

[2022-04-29 13:59] #370 closed

[2022-04-29 14:46] marcolink commented on #415
Hi @pugbyte 👋

This should be fixed in the latest version

[2022-04-29 14:46] #415 closed

[2022-05-02 21:02] davidwarrington commented on #1233
I've run into the same issue in an Astro project. Interestingly in my case I only have this issue when building the site, not whilst Vite is running in watch mode.

I've played around with the stable and beta version of this package, along with named vs default imports and found this combination to work for me in both dev and production mode:

Install the beta version with
[code]

Then switch your

[2022-05-04 17:28] NWRichmond commented on #1237
Excellent, thanks so much!

[2022-05-12 13:57] lancegliser opened #1266 "Typing issues creating utility functions around `getEntries`"
## Context

Follow on to my previous ticket where I established utility functions prior to the Typescript rewrite #1222.

Trying to create a type that includes the generics for writing utility functions seems to have issues. I want to make something like this:

[code]

But, with strong typings. I can use `query: EntriesQueries<TypeCareerPostingFields>`, but getting the return type is an issue.

##

[2022-05-12 16:09] marcolink commented on #1266
Hi @lancegliser - thanks for playing with the new beta version 🙇

If I understand you correctly, you would like to have the response type for your `getEntries` method with a specific content type set?

In that case, this example might help:

[code]

This gives you full type support on the query object for `getMyEntries` as well as a fully typed response object.

[2022-05-12 17:17] lancegliser commented on #1266
Trying that out, I have:

[code]

Not sure what I'd done wrong, but this works. Thanks for helping sort me out!

[2022-05-12 17:17] #1266 closed

[2022-05-13 11:24] marcolink commented on #954
Closing this for now as there hasn't been any activity in a while and we assume
you were able to solve it at hand.

But feel free to reach out again if you have more questions.

Cheers

[2022-05-13 11:24] #954 closed

[2022-05-15 19:05] designly1 commented on #344
I'm trying to implement signed requests using the CMA adapter and it seems to generate this URL: https://api.contentful.com/spaces/fhn6yihuk8lh/environments/master/app_installations/6yl5Imq9FDfhtUqLPgUznr/signed_requests, which returns 404. Everything works fine in dev mode but when I deploy to master I get this error.

[2022-05-17 21:13] dotnetcraig commented on #1165
Same error for me. Even followed the official demo to the letter; https://www.contentful.com/nextjs-starter-guide/

Very frustrating. Tried removing the node_modules and package-lock.json with fresh npm install, as suggested in an older issue log but still no joy. Then tried creating a new space with fresh access keys. Still same error.

[2022-05-17 22:39] grubersjoe opened #1272 "v10 beta: TypeScript fails because "export type" is required when re-exporting types with isolatedModules flag"
## Expected Behavior

I'm using the beta of v10 in a Next.js based page to fetch data roughly like this:

[code]

When running `yarn tsc` I would not expect type errors.

## Actual Behavior

However, I see the following TypeScript error:

[code]

This is using the default Next.js `tsconfig.json` that has `isolatedModules` enabled indeed:

[code]

## Possible Solution

Using type exports as suggest

[2022-05-18 07:04] marcolink commented on #1272
Hi @grubersjoe 👋

thanks for reporting this 🚀

a PR would be great. Feel free to tag me for a quick review!

[2022-05-18 08:17] grubersjoe commented on #1272
Here you go: https://github.com/contentful/contentful.js/pull/1273 👍

[2022-05-18 10:33] marcolink commented on #1272
closing this as a fix has been released!

[2022-05-18 10:33] #1272 closed

[2022-05-19 13:33] phawxby opened #1274 "Location datatype wrong"
https://github.com/contentful/contentful.js/blob/405cc36a980a08ea7ce9f23f33b6f94488f4c449/index.d.ts#L237-L238

Based on the published datamodel here.
https://www.contentful.com/developers/docs/concepts/data-model/

The lat/lon values are numeric.
<img width="317" alt="image" src="https://user-images.githubusercontent.com/1090602/169305694-7e839070-20a5-4625-813d-5b40c69ef4cf.png">

[2022-05-20 06:34] Vinz93 commented on #1274
Hola @phawxby! You are right, I'll adjust it. Thanks for caching it 🙂

[2022-05-20 07:10] #1274 closed

[2022-05-23 12:18] manikantabudida opened #1284 "Connection error"
Hi Team,

Facing connection error issues while running any commands related to migration or getting entries through contentful sdk.

C:\Users\user>contentful space use

[warning] Connection error occurred. Waiting for 2006 ms before retrying...
[warning] Connection error occurred. Waiting for 2515 ms before retrying...
[warning] Connection error occurred. Waiting for 3330 ms before retrying...

Ea

[2022-05-26 23:32] davidvm1 opened #1293 "getEntries with set locale"
It's a simple issue. Idk if this is a feature request, but you can't specify the locale when executing contentfulClient.getEntries().

I' ve tried something like this: contentfulClient.getEntries({
    content_type: 'some-content-type',
  }, {locale: 'en-US'}) but no success.

What can I do to fetch the entries of a content_type in another locale?

[2022-05-30 12:50] andreascful commented on #1189
Hello,

could you maybe have a look if the same error happens with the new TypeScript version of contentful.js?
You can install it via `npm i contentful@beta-v10`

[2022-05-31 08:57] andreascful commented on #1165
Hello,
I tried to reproduce the error while following the tutorial but it did not occure. The only time the error occured was when the space ID was not correct. Please make sure that the space ID is correct (e.g. you are not accidentially using the environment ID) and also that the env variable is set correctly in case you are using one to pass it to the command.

[2022-06-15 07:21] mustafa-pxs opened #1326 "Assert could not be found within the project or in these directories: node_modules ../../../node_modules"
## Expected Behavior

Should work with any version of node.

## Actual Behavior

Throwing Error in react-native env
node_modules/contentful/dist/contentful.node.js: assert could not be found within the project or in these directories:
  node_modules
  ../../../node_modules

## Possible Solution

## Steps to Reproduce

1. Install contentful
2. createClient as pass the params.

## Context

## Enviro

[2022-06-15 16:04] jakke-korpelainen opened #1327 "Support http request cancellation (abortController signal)"
The Axios library used for http requests supports [cancellation](https://axios-http.com/docs/cancellation) via AbortController signal. However it is not possible to utilize it using the sdk.

e.g. adding cancel support for getEntries
https://github.com/contentful/contentful.js/blob/298999da245a6e8401f061254cd774ebfcad3353/lib/create-contentful-api.js#L226

could be as simple as introducing an addi

[2022-06-18 01:33] tortuc commented on #1132
Yes, I found the section. Thank you.

[2022-06-24 17:25] denisedelbando commented on #1233
What is the difference between the two?
[code]

[2022-06-24 20:01] Raymond-Ly commented on #536
Hello,

You will need to get the nested entry IDs for your tags, and use the ID to make the necessary query:

[code]

[2022-07-08 07:00] christiankozalla commented on #1233
@thiagorossener in your steps to reproduce, step 3, you are installing the contentful client as a dev-dependency (-D). However, it is used in production, so I recommend to install it as a regular dependency (npm install contentful). Also, it kind of makes sense, that you say it works on development, but not after building the app in production.

[2022-07-20 14:45] tplante commented on #422
This took some digging to find, but the Contentful JS SDK also distributes a version built for [browsers](https://github.com/contentful/contentful.js#using-it-directly-in-the-browser) (at least in v9+), otherwise it is assumed to be running in node. Importing `createClient` from the browser version resolved the header errors for me:

[code]

I actually found this solution because the docs say you

[2022-07-28 01:50] wadehammes opened #1381 "Support "baggage" header in CORs 'Access-Control-Allow-Headers'"
## Expected Behavior
Sentry `baggage` header should be allowed. https://www.w3.org/TR/baggage/

## Actual Behavior

I have a json file from Contentful that won't load due to Sentry adding the new `baggage` header to the CORs request.

<img width="2056" alt="image" src="https://user-images.githubusercontent.com/222170/181402697-9d01107a-45dd-4d89-9682-a329151f9435.png">

## Possible Solution

Add `

[2022-08-03 13:52] Oatelaus opened #1392 "post install script makes package seem insecure"
The post install script here makes any package which requires this package insecure by proxy, meaning `contentful-export`, `contentful-import` etc will all cause issues when being used in a pipeline with a security scanning tool. As seen here:

- https://socket.dev/npm/package/contentful/overview/9.1.33

- https://socket.dev/npm/issue/installScripts

The `postinstall` script here is "harmless", bu

[2022-08-14 16:27] codyslex1a commented on #1233
Your solution is not working.

In short, this is a problem when using contenful.js with Vite.

[2022-08-16 05:37] fmarcheski commented on #1233
I had this same issue. Worked in Dev, but not in Production.
The below code solved my problem. Basically, in Production you must use contentful.createClient. In Dev you can use createClient.

Hope this helps someone else.

`import { createClient } from "contentful";
import contentful from 'contentful'

export default defineNuxtPlugin((nuxtApp) => {
  const config = useRuntimeConfig();

  const cre

[2022-08-16 05:46] fmarcheski commented on #1233
I had this same issue. Worked in Dev, but not in Production.
The below code solved my problem. Basically, in Production you must use **contentful.createClient**. In Dev you can use **createClient**.

Hope this helps someone else.

[code]

[2022-08-16 14:00] thiagorossener commented on #1233
Thanks @fmarcheski! I had to do the same thing, ended up forgetting to post it here. That solution works for me too.

[2022-08-30 13:21] jacobdo2 opened #1414 "Invalid typescript in TYPESCRIPT.md"
The following example in v10-beta TYPESCRIPT docs is invalid:

[code]
if you declare it as a `const`, it will give an `'Contentful' only refers to a type, but is being used as a value here.` It is the case with all the other examples of this kind in the docs.

[2022-09-06 12:04] istvanzsigovicsCasumo commented on #189
We are experiencing the same issue from time to time. We investigated it a bit more and find out that these calls are not hitting the contentful architecture. So it's a bit strange. Theoretically the problem should be within our infrastructure but I didn't find any difference between the successful and unsuccessful calls

[2022-09-15 11:17] mightymatth commented on #135
The question was if there is a way how to **exclude** something from `getEntries()` call, not how to select certain fields (and implicitly exclude others).

We need an option to exclude the exact field when filtering by the same field. It would be helpful to reopen the issue.

[2022-09-16 07:11] marcolink commented on #135
Hey @mightymatth 👋

Thank you for your request!

I've shared it with our product team,
and we'll reach out if further clarification is needed.

Best
marco